@charset "utf-8";



/* ==== 버튼 ==== */
.btn-pri {display:inline-flex; align-items: center; justify-content: center; height:40px; padding:0 20px; border: 1px solid #7f3cff; border-radius: 6px; font-weight:bold; color:#fff; background-color: #7f3cff;}
.btn-sec {display:inline-flex; align-items: center; justify-content: center; height:40px; padding:0 20px; border: 1px solid #0a0a0a; border-radius: 6px; font-weight:bold; color:#000; background-color: #ffffff;}

.btn--small {height:32px;}

.btn-line-link {text-decoration: underline;}

.btn-wrap {text-align:center;}

/* ==== form tag ==== */
input[type=text].input-text,
input[type=password].input-pwd,
input[type=email].input-text,
input[type=number].input-text,
input[type=tel].input-text {height:40px; padding: 3px 16px; border:1px solid #ccc; border-radius: 0; background-color: #fff;}

input[type=number].input-text::-webkit-inner-spin-button {appearance: none; -moz-appearance: none; -webkit-appearance: none;}

/* radio */   
.input-radio {position: relative;}
.input-radio > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none;}
.input-radio > input + label {cursor: pointer;}
.input-radio > input + label::before {content:""; position:relative; z-index: 1;  display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align:  -3px; background: url('../images/inp-radio.svg') no-repeat 0 bottom / 16px auto;}
.input-radio > input:checked + label::before {background-position: 0 top;}
.input-radio + .input-radio {margin-left:12px;}

.radioBtn {position: relative;}
.radioBtn input {position:absolute; width:100%; height:40px; -webkit-appearance: none; appearance: none;}
.radioBtn input + label {display:inline-block; min-width:68px; height:40px; padding:0 12px; border-radius: 8px; line-height: 40px; text-align:center; border: 1px solid #ccc; cursor: pointer; background-color: #fff;}
.radioBtn input:checked + label {color:#fff; background-color: #000;}

/* checkbox */
.input-checkbox {position: relative;}
.input-checkbox > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none; }
.input-checkbox > input + label {cursor: pointer;}
.input-checkbox > input + label::before {content:"";position:relative; z-index: 1; display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align: -3px; background: url('../images/inp-chk.svg') no-repeat 0 bottom / 16px auto;}
.input-checkbox > input:checked + label::before {background-position: 0 top;}
.input-checkbox + .input-checkbox {margin-left:12px;}

/* date */
input[type='date'].input-date {-webkit-appearance: none; appearance: none; height:46px; padding:0 5px 0 10px; border: 1px solid #000;}
input[type='date'].input-date::-webkit-calendar-picker-indicator {/* 달력 이미지 */}

.input-jq-date {height:40px; padding-left:15px; border:1px solid #ccc; background: #fff url('../images/icon-calendar.svg') no-repeat top 50% right 16px / 18px 18px;}

.input-date {display:flex; align-items: center; width:100%; max-width:500px;}
.input-date input {width:100%;}
.input-date em {padding:0 8px;}

/* select */
.input-select {display:inline-block;}
.input-select select {width:100%; height:40px; padding:0 35px 0 15px; border:1px solid #ccc; color:#000; -webkit-appearance: none; appearance: none; background: #fff url('../images/select-combo.svg') no-repeat top 50% right 15px / 10px 7px;}


/* textarea */
textarea.input-textarea {resize: none; padding:6px; border:1px solid #ccc; font-size:inherit; color: #171717; box-sizing: border-box;}
.byte-count {color:#999; font-size:12px; text-align:right;}

/* 검색창 */
.input-search {display:flex; align-items: center; border: 1px solid #ccc;}
.input-search__input {width:calc(100% - 32px); height:24px; margin-right:10px; padding:0 16px;}
.input-search__btn {width:35px; height:33px; border-left:1px solid #ccc; background:#7f3cff url('../images/icon-search-wt.svg') no-repeat center / 19px 19px}

/* 주소 */
.input-address__detail {margin-top:8px;}

/* input + button */
.input-withBtn {display:flex;align-items: center;}
.input-withBtn [class^="btn-"] {white-space: nowrap;}
.input-withBtn * + * {margin-left:8px}

/* 선택된 text */
.selected-item {display: inline-flex; align-items: center; margin:2px 4px 2px 0; padding:0 16px 0 8px; border:1px dashed #ccc; border-radius: 15px; line-height:29px; vertical-align: middle; background-color: #fff;}
.selected-item .btn-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}

/* 파일찾기 */
.input-file {position:relative; vertical-align: middle;}
.input-file input[type="file"] {position:absolute; opacity: 0; width:100px; height:40px;}
.input-file input[type="file"]:focus + label {outline: 1px solid #000;}

.file-list {display:flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.file-list__volume {font-size: 12px; color: #999;}

/* 선택된 file */
.selected-file {display: inline-flex; align-items: center; margin:0 4px 4px 0; padding:0 16px 0 8px; line-height:29px; font-size: 16px; background-color: #fff;}
.selected-file .btn-file-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}

/* ==== bottomSheet ==== */
.bottomSheet {position: fixed; top:0; right:0; bottom:0; left:0;}
.bottomSheet__wrap {position: absolute; bottom:0; width:100%; } 
.bottomSheet__h1 {display:inline-block; margin-left:40px; padding:12px 24px; border-radius: 10px 10px 0 0 ; font-size:24px; color:#fff; background-color: #000;}
.bottomSheet__body {min-height:600px; padding:24px; box-shadow: 0px 0px 7px 0px; background-color: #fff;}
.bottomSheet__topArea {display: flex; align-items: center; justify-content: space-between;}
.bottomSheet__topArea h2 {font-size:21px;}

/* ==== 조건 검색 ==== */
.board-search {margin-bottom:24px;}
.board-search__table {width:100%;}
.board-search__table th {padding:12px 16px 12px 0; text-align: right; word-break: keep-all;}
.board-search__table td {padding:12px 10px;}

.board-search .btn-wrap {margin-top:40px;}
.board-search .btn-wrap > [class^="btn-"] {min-width:200px;}
.board-search input:not([type="checkbox"], [type="radio"]) {width:100%}
.board-search .input-select {width:100%;}

/* ==== board ==== */
/* 게시판 상단 */
.board-head {display:flex; align-items: flex-end; justify-content: space-between; margin-bottom:16px;}
.board-count {font-weight: bold;}
.board-count > em {color:#FF4DD6;} 
.send-count {margin-right:12px;}
.send-count > strong {color:#FF4DD6; text-decoration: underline;} 
.board-head__right {display:flex; align-items: center;}
.board-head__right * + * {margin-left:4px;}
.board-head__right .btn-wrap + .input-select {margin-left:32px;}

/* 게시판 목록 */
.board-list {width:100%;overflow:auto;}
.board-list__table {width:100%; border-top:3px solid #000;}
.board-list__table thead th {height:60px; padding:10px 5px; border-bottom:1.5px solid #000; line-height: 1.3; text-align: center; word-break: keep-all; background-color: #FFF ;}
.board-list__table tbody th,
.board-list__table tbody td {height:52px; padding:5px; border-bottom:1px solid #ccc; line-height: 1.3; text-align: center; word-break: keep-all;}
.board-list__table tr th:last-child,
.board-list__table tr td:last-child {border-right:0;}
td.txt-ellipsis {overflow: hidden; text-align: left; white-space: nowrap; text-overflow: ellipsis;}

.board-list-headFixed {position:relative;}
.board-list-headFixed .fixed--head {position:absolute; top:0;}
.board-list-headFixed .fixed--body {position:relative; top:62px; overflow-y:auto; max-height:320px;}
.board-list-headFixed .fixed--body .board-list__table {border-top:0;}
.modal-popup .board-list-headFixed .board-list__table {min-width: 100%;}

.board-foot {display:flex; align-items: center; justify-content: space-between; margin-top:12px;}

.board-info {font-size:14px; color:#999;}
.pagination {display:flex; align-items: center;}
.pagination .btn-prev {display:inline-block; width:30px; height:30px; border:1px solid #eee;}
.pagination .btn-prev::before {content:"<"}
.pagination .btn-next {display:inline-block; width:30px; height:30px; border:1px solid #eee;}
.pagination .btn-next::before {content:">"}
.pagination__page {display: flex; align-items: center;}
.pagination__page > a {display: block; width:30px; height:30px; margin-left:-1px; line-height: 30px; text-align: center; border:1px solid #eee; }
.pagination__page > a.on {font-weight: bold; color:#fff; background-color: #000;}

/* 게시판 쓰기 & 상세 */
.board-write,
.board-view {border-top:3px solid #000;}
.board-write__table, 
.board-view__table {width:100%;}
.board-write__table th,
.board-view__table th {padding:5px 10px; line-height: 1.3; text-align: left; word-break: keep-all;}
.board-write__table td,
.board-view__table td {padding:24px 0; line-height: 1.3; border-bottom:1px solid #ccc;}
.board-write__table tr:last-child td,
.board-view__table tr:last-child td {border-bottom:0;}
.board-write .com-tit4 {padding-top:32px;}

.board-write__table + .com-tit4 {margin-top:40px; border-top:1px solid #000;}

.board-write-simple__table {width:100%;}
.board-write-simple__table th {padding:8px 0; text-align: left;}
.board-write-simple__table td {padding:8px 0;}
.board-write-simple__table input.input-text {width:100%;}
.com-notiBox + .board-write-simple {margin-top:32px;}

.icon-req::before {content: '*'; color:red}

