@charset "utf-8";

/* ==== title ==== */
.com-tit2 {font-size:24px; color:#333}
.com-tit3 {margin-bottom:15px; font-size:18px; color: #000;}
.com-tit4 {margin-bottom:15px; font-size:16px; color:#000;}
.com-titDesc {margin-left:15px; color: #999; font-size: 16px; line-height: 1.3; word-break: keep-all;}

/* ==== noti ==== */
.notice-msg {padding:30px 20px 20px; word-break: keep-all}
.notice-msg__title {font-size:32px; font-weight: bold; text-align: center;}
.notice-msg__text {padding:20px 0; line-height: 1.3; text-align:center;} 
.notice-msg__desc {color: #666; font-size: 14px; text-align: center; line-height: 22px;}
.notice-msg [class^="icon-"] {display:block; margin:0 auto;}

.icon-logout {width:66px; height:57px; background: url('../images/icon-logout-2.svg') no-repeat 0 0 / 100% 100%;}

/* ==== 버튼 ==== */
.btn-pri {display:inline-flex; align-items: center; justify-content: center; height:40px; padding:0 20px; border: 1px solid #000; border-radius: 6px; font-weight:bold; color:#fff; vertical-align: middle; background-color: #000;}
.btn-sec {display:inline-flex; align-items: center; justify-content: center; height:40px; padding:0 20px; border: 1px solid #0a0a0a; border-radius: 6px; font-weight:bold; color:#000; vertical-align: middle; background-color: #ffffff;}

.btn--small {height:32px;}
.btn--large {min-width:160px; height:61px; font-size:24px; border-radius: 30px;}

.btn-line-link {text-decoration: underline;}

.btn-wrap {text-align:center;}

[class^="btn-"] [class^="icon-"] {margin-right:4px;}
.icon-excel {display:inline-block; width:17px; height:15px; background: url('../images/icon-excel.svg') no-repeat center / contain;}

/* ==== form tag ==== */
input[type=text].input-text,
input[type=password].input-pwd,
input[type=email].input-text,
input[type=number].input-text,
input[type=tel].input-text {height:40px; padding: 3px 16px; border:1px solid #ccc; border-radius: 0; font-size:16px; background-color: #fff;}

input[type=number].input-text::-webkit-inner-spin-button {appearance: none; -moz-appearance: none; -webkit-appearance: none;}

input.input-text:disabled {background-color: #eee;}

/* radio */   
.input-radio {position: relative; display:inline-block; vertical-align: middle;}
.input-radio > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none;}
.input-radio > input + label {cursor: pointer;}
.input-radio > input + label::before {content:""; position:relative; z-index: 1;  display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align:  -3px; background: url('../images/inp-radio.svg') no-repeat 0 bottom / 16px auto;}
.input-radio > input:checked + label::before {background-position: 0 top;}
.input-radio + .input-radio {margin-left:12px;}

.radioBtn {position: relative;}
.radioBtn input {position:absolute; width:100%; height:33px; -webkit-appearance: none; appearance: none;}
.radioBtn input + label {display:inline-block; min-width:68px; height:33px; padding:0 12px; border-radius: 8px; line-height: 33px; text-align:center; border: 1px solid #ccc; cursor: pointer; background-color: #fff;}
.radioBtn input:checked + label {color:#fff; background-color: #000;}

/* checkbox */
.input-checkbox {position: relative; display:inline-block; vertical-align: middle;}
.input-checkbox > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none; }
.input-checkbox > input + label {cursor: pointer;}
.input-checkbox > input + label::before {content:"";position:relative; z-index: 1; display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align: -3px; background: url('../images/inp-chk.svg') no-repeat 0 bottom / 16px auto;}
.input-checkbox > input:checked + label::before {background-position: 0 top;}
.input-checkbox + .input-checkbox {margin-left:12px;}

.area-checkbox {max-width:850px; padding:8px 20px}
.area-checkbox .input-checkbox {width:180px; margin:4px 16px 4px 0;}

/* date */
input[type='date'].input-date {-webkit-appearance: none; appearance: none; height:46px; padding:0 5px 0 10px; border: 1px solid #000;}
input[type='date'].input-date::-webkit-calendar-picker-indicator {/* 달력 이미지 */}

.input-jq-date {height:40px; padding-left:15px; border:1px solid #ccc; background: #fff url('../images/icon-calendar.svg') no-repeat top 50% right 16px / 18px 18px;}

.input-date {display:flex; align-items: center; width:100%; max-width:500px;}
.input-date input {width:100%;}
.input-date em {padding:0 8px;}
.input-date > button {white-space: nowrap; margin-left:8px;}

/* select */
.input-select {display:inline-block;}
.input-select select {width:100%; height:40px; padding:0 35px 0 15px; border:1px solid #ccc; color:#000; -webkit-appearance: none; appearance: none; font-size:16px; background: #fff url('../images/select-combo.svg') no-repeat top 50% right 15px / 10px 7px;}


/* textarea */
textarea.input-textarea {resize: none; padding:6px 12px; border:1px solid #ccc; font-size:inherit; color: #171717; box-sizing: border-box;}
.byte-count {color:#999; font-size:12px; text-align:right;}

/* 검색창 */
.input-search {display:flex; align-items: center; border: 1px solid #ccc;}
.input-search__input {width:calc(100% - 32px); height:24px; margin-right:10px; padding:0 16px;}
.input-search__btn {width:35px; height:33px; border-left:1px solid #ccc; background:#7f3cff url('../images/icon-search-wt.svg') no-repeat center / 19px 19px}

/* 주소 */
.input-address__detail {margin-top:8px;}

/* input + button */
.input-withBtn {display:flex;align-items: center;}
.input-withBtn [class^="btn-"] {white-space: nowrap;}
.input-withBtn * + * {margin-left:8px}

/* 선택된 text */
.selected-item {display: inline-flex; align-items: center; margin:2px 4px 2px 0; padding:0 16px 0 8px; border:1px dashed #ccc; border-radius: 15px; line-height:29px; vertical-align: middle; background-color: #fff;}
.selected-item .btn-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}
.btn-del {display:inline-block; width:14px; height:14px; border-radius: 100px; font-weight: 500; background: #000 url('../images/btn-del.svg') no-repeat center / 6px 6px;}

/* 파일찾기 */
.input-file {position:relative; display:inline-block; vertical-align: middle;}
.input-file input[type="file"] {position:absolute; opacity: 0; width:100px; height:33px;}
.input-file input[type="file"]:focus + label {outline: 1px solid #000;}

.file-list {display:flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.file-list__volume {font-size: 12px; color: #999;}

/* 선택된 file */
.selected-file {display: inline-flex; align-items: center; margin:0 4px; padding:0 16px 0 8px; line-height:29px; font-size: 16px; vertical-align: middle; background-color: #fff;}
.selected-file .btn-file-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}

/* ==== bottomSheet ==== */
.bottomSheet {display:none; position: absolute; top:0; right:0; bottom:-20000px; left:0;}
.bottomSheet__wrap {position: absolute; bottom:0; width:100%;} 
.bottomSheet__head {position: relative; display:inline-flex; align-items: center; height: 39px; border-radius: 0px 24px 0px 0px; border: 1.5px solid #000; border-bottom:0; background-color: #7f3cff;}
.bottomSheet__h1 {padding:0 60px 0 16px; font-size:14px; color:#fff;}
.bottomSheet__body {overflow-y:auto; min-height:400px; max-height:calc(100vh - 200px); padding:40px 24px; border:1.5px solid #000; background-color: #fff;}
.bottomSheet__topArea {display: flex; align-items: center; justify-content: space-between;}
.bottomSheet__topArea h2 {margin-bottom:17px; font-size:21px; color:#000}
.bottomSheet__close {margin-right:24px;}
.bottomSheet__close > button {width:16px; height:16px; background: url('../images/icon-bts-close.svg') no-repeat center / 100% 100%;}
div + .bottomSheet__topArea {margin-top:40px;}

.flexRow {display:flex;}

/* ==== 조건 검색 ==== */
.board-search {margin-bottom:24px; border-top: 3px solid #000;}
.board-search__table {width:100%;}
.board-search__table th {padding:12px 16px 12px 0; border-bottom: 1px solid #d9d9d9; text-align: right; word-break: keep-all;}
.board-search__table td {padding:12px 0 12px 12px; border-bottom: 1px solid #d9d9d9;}

.board-search .btn-wrap {margin-top:32px;}
.board-search .btn-wrap > [class^="btn-"] {min-width:200px;}
.board-search .btn-wrap .btn-pri {border-color:#7f3cff; background-color:#7f3cff;}
.board-search input:not([type="checkbox"], [type="radio"]) {width:100%}
.board-search .input-select {width:100%;}

/* ==== board ==== */
.txt-error {margin-top:9px; color: #e5576c;; font-size:12px;}
.txt-error::before {content: "! ";}

/* 게시판 상단 */
.board-head {display:flex; align-items: flex-end; justify-content: space-between; margin-bottom:16px;}
.board-count {font-weight: bold;}
.board-count > em {color:#7E3CFF;} 
.send-count {margin-right:12px;}
.send-count > strong {color:#FF4DD6; text-decoration: underline;} 
.board-head__right {display:flex; align-items: center;}
.board-head__right * + * {margin-left:4px;}
.board-head__right .btn-wrap + .input-select {margin-left:32px;}

/* 게시판 목록 */
.board-list {width:100%;overflow:auto;}
.board-list__table {width:100%; border-top:3px solid #000;}
.board-list__table thead th {height:60px; padding:10px 5px; border-bottom:1.5px solid #000; line-height: 1.3; text-align: center; word-break: keep-all; background-color: #FFF ;}
.board-list__table tbody th,
.board-list__table tbody td {height:52px; padding:5px; border-bottom:1px solid #ccc; line-height: 1.3; text-align: center; word-break: keep-all;}
.board-list__table tr th:last-child,
.board-list__table tr td:last-child {border-right:0;}
.board-list__table tr td.txt-ellipsis {overflow: hidden; text-align: left; white-space: nowrap; text-overflow: ellipsis;}

.board-list .btn--small {height:25px; padding:0 16px; border: 1px solid #ccc; font-weight: normal; background-color: #f2f2f2;} 

.board-list-headFixed {position:relative;}
.board-list-headFixed .fixed--head {position:absolute; z-index: 10; top:0; background-color: #fff;}
.board-list-headFixed .fixed--body {position:relative; padding-top:62px; overflow-y:auto; max-height:271px;}
.board-list-headFixed .fixed--body .board-list__table {border-top:0;}
.modal-popup .board-list-headFixed .board-list__table {min-width: 100%;}

.board-foot {position:relative; text-align: center; margin-top:30px;}

.board-info {position:absolute; font-size:14px; color:#999;}
.pagination {display:inline-flex; align-items: center; justify-items: center;}
.pagination [class^="btn-"] {display:inline-block; width:30px; height:30px; margin:0 4px;}
.pagination .btn-first {background: url('../images/page-first.svg') no-repeat center / contain;}
.pagination .btn-prev {background: url('../images/page-prev.svg') no-repeat center / contain;}
.pagination .btn-next {background: url('../images/page-next.svg') no-repeat center / contain;}
.pagination .btn-last {background: url('../images/page-last.svg') no-repeat center / contain;}
.pagination__page {display: flex; align-items: center;}
.pagination__page > a {display: block; width:30px; height:30px; margin-left:-1px; line-height: 30px; text-align: center; }
.pagination__page > a.on {font-weight: bold;}

/* 통계 */
.statistics-list .board-list__table thead th {height:40px; padding:8px 5px; border-right:1px solid #000; background-color: #ebe3ff;}
.statistics-list .board-list__table thead th:last-child {border-right:0;}
.statistics-list .board-list__table tbody th,
.statistics-list .board-list__table tbody td {border-bottom:1px solid #000; border-right:1px solid #000;}
.statistics-list .board-list__table tbody td:last-child {border-right:0;}
.statistics-list .board-list__table thead th.bg {background-color: #fae6fa;}


/* 틀고정 */
.board-left-fixed {display:flex; justify-content: flex-start;}
.board-fixed__left {width:25%; border-right:3px solid #000;}
.board-fixed__right {overflow-x: auto; flex:0 0 75%}
 
/* 게시판 쓰기 & 상세 */
.board-write {border-top:3px solid #000;}
.board-write__table {width:100%;}
.board-write__table th {height:40px; padding:6px 10px; line-height: 1.3; text-align: left;  border-bottom:1px solid #000; vertical-align: top; word-break: keep-all;}
.board-write__table th label {display:flex; align-items: center; height:40px; }
.board-write__table td {height:40px; padding:6px 0; line-height: 1.3; border-bottom:1px solid #000;}

.board-write-simple {margin-top:16px;}
.board-write-simple__table {width:100%;}
.board-write-simple__table th {padding:8px 0; text-align: left;}
.board-write-simple__table td {padding:8px 0;}
.board-write-simple__table input.input-text {width:100%;}
.board-write-simple + .com-tit4 {margin-top:16px; border-top:1px solid #ccc; padding-top:24px;}

.board-view {border-top:3px solid #000;}
.board-view__table {width:100%;}
.board-view__table th {height:40px; padding:6px 10px; line-height: 1.3; text-align: left;  border-bottom:1px solid #d9d9d9; box-sizing: content-box; word-break: keep-all;}
.board-view__table td {height:40px; padding:6px 0; line-height: 1.3; border-bottom:1px solid #d9d9d9; box-sizing: content-box;}

.board-write .input-text,
.board-write .input-select,
.board-write .input-textarea {width:100%}

.board-write__table + .com-tit4 {margin-top:40px; border-top:1px solid #000;}

.board-write-simple__table {width:100%;}
.board-write-simple__table th {padding:8px 0; text-align: left;}
.board-write-simple__table td {padding:8px 0;}
.board-write-simple__table input.input-text {width:100%;}
.com-notiBox + .board-write-simple {margin-top:32px;}

.icon-req::before {content: '*'; color:red}

/* 간격 */
[class^="com-tit"] + .board-write,
[class^="com-tit"] + .board-view {margin-top:16px;}
.board-view + [class^="com-tit"] {margin-top:30px;}
.board-write + .btn-wrap,
.board-view + .btn-wrap,
.board-list-headFixed + .btn-wrap {margin-top:40px;}

/* ==== 로그인 ==== */
.container-login {padding:110px 0 60px;}
.container-login .content-head__inner {display:block;}
.container-login .title-area {display:block; text-align:center}
.container-login .com-tit3 {font-size:48px; line-height: 44px;}

.com-login {max-width:580px; margin: 0 auto; padding:56px 20px; border-radius: 24px; box-shadow: 10px 15px 15px #dedeea; background: #fff;}
.com-login__inputArea {max-width:460px; margin:0 auto;}
.com-login__inputArea input {width:100%; height:51px !important;}
.com-login__inp {margin-bottom:15px}
.com-login .btn-wrap {max-width:460px; margin:40px auto 0;}
.com-login .btn-wrap [class^="btn-"]  {width:100%; height:61px; margin:0 5px;}
.com-login .btn-wrap .btn-cta-sec {margin-top:16px}
.com-login .btn-wrap.column {display:flex; align-items: center; margin-top:24px;}
.com-login .btn-wrap.column > .btn-cta-sec {margin:0 20px 0 0}
.com-login .btn-wrap.column > * {flex:1; min-width:auto;white-space: nowrap;}
.com-login__help {display:flex; align-items: center; justify-content: space-between; max-width:460px; margin:25px auto 0; font-size:14px;}
.com-login__help .input-checkbox label {color:#999;}
.com-login__help .btn-find {color:#000; font-weight: bold;}
.com-login__help .btn-find + .btn-find::before {content:""; display:inline-block; width:1px; height:12px; margin-right:8px; vertical-align: -1px; background-color: #000;}


.com-login__find > a {margin-left:6px;}
.com-login__msg {padding-top:38px; text-align: center; font-size:19px; word-break: keep-all; line-height: 25px;}
.com-login__msg strong {color:#7F3CFF;}

/* == 회원상세정보 == */
.txt-cash {color:#7F3CFF; text-decoration: underline;}