@charset "utf-8";

@import url(../font/pretendard.css); /* font 정의 */


/* reset */
html, body { width: 100%; height: 100%;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0;  line-height: 1; border: 0; box-sizing: border-box; font-family: 'Pretendard', 'Nanum Gothic', '나눔고딕', sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }


/* html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;} */
button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 1); background-color: #fff; font-family: inherit; font-size: inherit;}
button, select {box-shadow: none; cursor: pointer;}
select {color:#818181; }
::-webkit-input-placeholder { color: #989898; font-size:14px}
textarea {line-height:1.5; font-family: 'Pretendard', 'Nanum Gothic', '나눔고딕', sans-serif;}

a { font-size: inherit; color: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, dl, dt, dd, ul, li, button, span, div, p {margin:0; padding:0; -webkit-appearance: none; appearance: none; box-shadow: none; border: none; border-radius: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
img { width: 100%; height: auto; }
ul, ol, li, dl, dt, dd { list-style:none; }
button {cursor:pointer;}

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
 
table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal;}

b, strong {font-family: inherit; font-size:inherit; color:inherit; font-weight:700; letter-spacing:inherit;}

/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

/* ds-none */
.ds-none { display: none; }
.ds-block { display: block; }

/* padding */
.paBot10 { padding-bottom: 10px; }

/* margin */
.mt-8 {margin-top: 8px;}
.mt-20 {margin-top: 20px;}
.mb-10 { margin-bottom: 10px;}
.ml-10 {margin-left: 10px;}
.ml-20 {margin-left: 20px;}
.mr-10 { margin-right: 10px;}

/* text */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.gradient::before{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(242, 245, 247, 0), rgba(242, 245, 247, 0.33) 80%, #f5f7faa6 100%);}

/* input[type=password]{letter-spacing:-1.5px !important;} */
.scrN{overflow:hidden;}

/* input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px white inset;} */

.w100p {width:100%}



.icon-page-error {display:inline-block; position:relative; vertical-align: middle; width:163px; height:157px; background: url('../images/icon-page-error.svg') no-repeat 0 0 / 100% 100%;}

.section-cont {padding:40px 0;}
.com-tit2 {font-size:32px;}

.flex-box {display:flex; align-items: center;}
.flex-box > * + * {margin-left:4px;}

/* 로딩중 */
.loading {position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background:rgba(0,0,0,0.64) url(../images/loading.svg) no-repeat center center ;}

/* ==== layout ==== */
body { background-color: #f0f1f7;}
.wrap {min-width:1366px;}


.header {display:flex; justify-content: space-between; height:88px; background-color: #fff;}
.header .logo {display:flex; align-items: center; width:239px;}
.header .logo a {display:block; margin-left:41px;}             
.header .logo a::before {content:"LINKER"; font-weight:bold;}
.user-menu { display:flex; align-items: center; padding:0 20px;}
.user-menu__mymenu {display:flex; align-items: center; margin-left:39px;}
.user-menu__mymenu .btn-logout {display:inline-block; padding:9px 16px 9px 35px; border: 1px solid #e0e0e0; border-radius: 8px; line-height:20px; background: url('../images/icon-logout.svg') no-repeat 16px center / 11px 16px;}
.user-menu__mymenu .btn-mypage {display:inline-block; margin-left:8px; padding:9px 16px 9px 35px; border: 1px solid #e0e0e0; border-radius: 8px; line-height:20px; background: url('../images/icon-mypage.svg') no-repeat 16px center / 13px 15px;}

.container {display:flex; justify-content: center; height:100%;}
.container-error {min-height:calc(100vh - 88px); display:flex; align-items: center; justify-content: center; background: #f5f6fa;}
.error-text {margin-top:40px; color: #0e0e0f; font-size: 19px; font-weight: bold;}

[class^="icon-meun"] {display:inline-block; width:24px; height:24px; vertical-align: middle; background: url('../images/icon-menu.svg') no-repeat 0 top / 48px 240px;}
.icon-meun01 {background-position: 0 0;}
.icon-meun02 {background-position: 0 -24px;}
.icon-meun03 {background-position: 0 -48px;}
.icon-meun04 {background-position: 0 -72px;}
.icon-meun05 {background-position: 0 -96px;}
.icon-meun06 {background-position: 0 -120px;}
.icon-meun07 {background-position: 0 -144px;}

.global-nav {width:239px; margin-left:16px; padding-top:40px;}
.global-nav__list > li {position: relative; margin-bottom:24px; padding:0 24px;}
.global-nav__list .btn-depth-1 {position:relative; display:block; font-size: 19px; color: #000;}
.global-nav__list .btn-depth-1::after {position:absolute; right:0; top:0; content:""; display:block; width:24px; height:24px; background: url('../images/icon-menu.svg') no-repeat 0 -168px / 48px 240px;}
.global-nav__list .btn-depth-1 i {margin-right:12px;}
.global-nav__depth2 {display:none; margin:0 0 0 36px;}
.global-nav__depth2 a {display:block; padding:6px 0; line-height: 1.5; letter-spacing: -0.8px;}

.global-nav__list > li.open {padding-top:26px; padding-bottom:26px; border-radius: 16px 0 0 16px; filter: drop-shadow(3px 3px 5px rgba(143, 149, 179, 0.2)); background-color: #fff;}
.global-nav__list > li.open .btn-depth-1 {color:#7F3CFF; font-weight: bold;}
.global-nav__list > li.open .btn-depth-1::after {background-position-x:-24px;}
.global-nav__list > li.open .global-nav__depth2 {display:block;}
.global-nav__list > li.open .global-nav__depth2 .on {color:#7F3CFF; font-weight: bold;}
.global-nav__list > li.open [class^="icon-meun"] {background-position-x:-24px;}


.content-area {position:relative; width:calc(100% - 239px); max-width:1681px; min-height:600px; margin:16px 20px 16px 0; padding:40px 40px 40px 56px; border-radius: 16px; box-shadow: 5px 5px 6px rgba(143, 149, 179, 0.15); background-color: #fff;}
.content-head {margin-bottom:42px;}
.bread-crumb {margin-top:17px;}
.bread-crumb__list {display:flex; align-items: center;}
.bread-crumb__list li + li::before {content:">"; display:inline-block; margin:0 5px;}
.bread-crumb__list .home a {display:inline-block; width:16px; height:16px; background: url('../images/icon-home.svg') no-repeat 0 0 / 16px 16px;}
.bread-crumb__list a,
.bread-crumb__list span {display:inline-block; color: #171717;}


/* ==== modal ==== */
.modal-popup {display: none; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background-color:rgba(0,0,0,0.64);}
.modal-popup--show {display: block;}
.modal-popup__wrap {position: absolute; top:50%; left:50%; overflow: hidden; transform: translate(-50%, -50%); width:95%; max-width:800px; border-radius: 24px; background-color: #fff; }
.modal-popup__head {padding:40px 40px 20px;}
.modal-popup__head .com-titDesc {margin-left:0; margin-top:16px;}
.modal-popup__body {overflow-y:auto; max-height:calc(100vh - 120px ); padding-bottom:20px;}
.modal-popup__title {max-width:90%; font-size: 24px; line-height:30px; word-break: keep-all;}
.modal-popup__title [class^="icon"] {margin-right:16px;}
.modal-popup__title + .txt-date {margin-top:8px;}
.modal-popup__content {padding:0 40px 20px;}
.modal-popup__foot {padding:20px 10px 40px}
.modal-popup__foot .btn-wrap {margin-top:0}
.modal-popup__close {position:absolute; top:40px; right:40px}
.modal-popup__close > button {width:30px; height:30px; background:url('../images/btn-modal-close.svg') no-repeat center / 30px 30px;}

.modal-popup .com-tit2 {display:inline-block; padding:16px 32px; border-radius: 8px; font-size:16px; line-height: 1.3; background-color: #f2f2f2;}

/* large 960*600 */
.modal-popup--large .modal-popup__wrap {max-width:1074px;}
/* small 640*400 */
.modal-popup--small .modal-popup__wrap {max-width:640px;} 
/* xsmall 400*300 */
.modal-popup--xsmall .modal-popup__wrap {max-width:400px;} 