@charset "utf-8";

/* ==== text color ==== */
.text-accent {color:#ff0000}
.txt-point01 {color:#4D6AFF}
.txt-point02 {color:#FF4DD6}
.txt-date {color:#999}


.txt-error {margin-top:9px; color: #e5576c;; font-size:12px;}
.txt-error::before {content: "! ";}

/* ==== 아이콘 ==== */
[class^="icon"] {display:inline-block; position:relative; vertical-align: middle;}

[class^="icon12-"] {width:12px; height:12px;}
.icon12-arrDown-wt {background: url('../images/icon12-arr-down-white.svg') no-repeat center center / 8px 11px ;}
.icon12-send-wt {background: url('../images/icon12-send-white.svg') no-repeat center center / 12px 12px;}

[class^="icon16-"] {width:16px; height:16px;}
.icon16-arrRight-bk {background: url('../images/icon16-arr-right.svg') no-repeat center center / 13px auto;}
.icon16-clip-bk {background: url('../images/icon16-clip.svg') no-repeat center center / 16px 16px}
.icon16-send-wt {background: url('../images/icon12-send-white.svg') no-repeat center center / 15px 15px;}
.icon16-reset-wt {background: url('../images/icon16-reset-wt.svg') no-repeat center center / 16px 16px;}

[class^="icon40-"] {width:40px; height:40px;}
.icon40-email {background: url('../images/icon40-email.svg') no-repeat center center / 37px 39px}

.icon-email-off {width:28px; height:20px; background: url('../images/icon-email-off.svg') no-repeat 0 0 / 28px 20px;}
.icon-email-on {width:28px; height:30px; background: url('../images/icon-email-on.svg') no-repeat 0 0 / 28px 30px;}

/* ===== 버튼정의 ===== */
[class^="btn-"] {vertical-align: middle;}
.btn-cta-pri {display:inline-flex; align-items: center; justify-content: center; min-width:248px; height:69px; padding:0 20px; border-radius: 34px; border:2px solid #000; color:#fff; font-size: 24px; font-weight: bold; background-color: #000;}
.btn-cta-sec {display:inline-flex; align-items: center; justify-content: center; min-width:248px; height:69px; padding:0 20px; border-radius: 34px; border:2px solid #000; color:#000; font-size: 24px; font-weight: bold; background-color: #fff;}

.btn-pri {display:inline-flex; align-items: center; justify-content: center; min-width:120px; height:42px; padding:0 20px; border:2px solid #000; border-radius: 23px; color:#fff; font-size: 19px; font-weight: bold; background-color: #000;}
.btn-sec {display:inline-flex; align-items: center; justify-content: center; min-width:120px; height:42px; padding:0 20px; border:2px solid #000;  border-radius: 23px; color:#000; font-size: 19px; font-weight: bold; background-color: #fff;}

.btn--large {min-width:180px; height:53px; border-radius: 26px; font-size:24px;}
.btn--small {min-width:72px; height:35px; border-radius: 18px; font-size:14px; border-width: 1px;}

.btn-line-link {display:inline-block; padding-bottom:2px; text-decoration: underline; font-weight: bold; color:#000}
.btn-link {font-weight:bold;}


[class^="btn-"] > [class^="icon"] {margin:0 4px;}
[class^="btn-"] > [class^="icon16"] {vertical-align: -2px;}

[class^="btn-"]:disabled,
[class^="btn-"].btn-disabled {border-color:#e0e0e0; color: #999; background-color:#e0e0e0;}

.btn-more {display:inline-flex; align-items: center; justify-content: center; min-width:100px; height:39px; padding:0 20px; border:2px solid #000;  border-radius: 39px; color:#000; font-size:18px; font-weight: bold; background-color: #fff;}
.btn-more::after {content: url('../images/btn-more-arr.svg'); margin-left:5px; position: relative; top:2px;}

.btn-del {display:inline-block; width:14px; height:14px; border-radius: 100px; font-weight: 500; background: #000 url('../images/btn-del.svg') no-repeat center / 6px 6px;}

.btn-reset {width:35px; height:35px; background:url('../images/btn-reset-bk.svg') no-repeat center / 100%;}
.reset--small {width:30px; height:30px; }

.btn-file-del {display:inline-block; width:14px; height:14px; font-weight: 500;  background: url('../images/btn-file-del.svg') no-repeat center / 12px 13px;}
.btn-listDown-sm {display:inline-block; width:14px; height:14px;background: url('../images/btn_listdown_small.svg') no-repeat center / 100% 100%;}
.btn-like {display:inline-block; width:24px; height:24px; font-weight: 500; background: url('../images/icon-like.svg') no-repeat 0 0 / auto 24px;}
.btn-cash {display:inline-block; width:72px; height:27px; background: url('../images/btn-cash.svg') no-repeat 0 0 / 100% 100%;}
.btn-msg-check {display:inline-block; width:42px; height:42px; background: url('../images/btn-msg-check.svg') no-repeat 0 0 / 100% 100%;}

.badge {display:inline-block; padding:3px 5px; border: 1px solid #4d6aff; border-radius: 4px; vertical-align: middle; font-size:12px; color:#4d6aff;}

/*  버튼레이아웃 */
.btn-wrap {margin-top:45px; text-align: center;}
.btn-wrap-right {text-align:right;}
.board-list + .btn-wrap {margin-top:45px;}
.btn-wrap-between {display:flex; justify-content: space-between;}

.btn-wrap > * + * {margin-left:8px}

/* 모바일 */
@media screen and (max-width: 500px) {
  .btn-cta-pri,
  .btn-cta-sec {min-width:130px; height:45px !important; font-size:18px;}

  .btn-pri,
  .btn-sec,
  .btn--small {height:27px; font-size: 13px; min-width:80px; padding:0 10px;}
  .btn--large {height:39px; font-size:16px;}
  /* .btn--small {height:20px; font-size:10px;} */
}

/* ==== title ==== */
.com-tit2 {font-size:24px; color:#333}
.com-tit3 {font-size:32px; color: #000;}
.com-tit4 {margin-bottom:15px; font-size:24px; color:#000;}
.com-tit5 {margin-bottom:15px; font-size:20px; color:#000; line-height: 1.3;}
.com-titDesc {margin-left:15px; color: #999; font-size: 16px; line-height: 1.3; word-break: keep-all;}

/* ==== notiBox ==== */
.com-notiBox {margin-top:30px; line-height:1.5;}
.com-notiBox * {line-height:1.5;}
.com-notiBox__title {margin-bottom:9px; font-weight: bold; color:#000;}
.com-notiBox:first-child {margin-top:0;}

.com-bubble-box {position:relative; padding:16px; margin-bottom:54px; border-radius: 16px; background: #f2f2f2;}
.com-bubble-box::after {content: ""; position:absolute; bottom:-29px; left:50%; display:block; margin-left:-7px; border:15px solid transparent; border-top-color:#f2f2f2;}
.com-bubble-box__msg {text-align:center; font-weight: bold; line-height: 1.5;}

.com-list-info dl {display:flex;}
.com-list-info dl + dl {margin-top:8px;}
.com-list-info dt {flex: 0 0 120px; position:relative;}
.com-list-info dd {font-weight: bold; line-height:1.3}
.com-list-info dt::after {content: ":"; position:absolute; right:0; top:0; padding-right:12px; font-weight: bold;}

.notice-msg {padding-top:30px;}
.notice-msg__title {font-size:32px; font-weight: bold; text-align: center;}
.notice-msg__text {padding:20px; line-height: 1.3; text-align:center} 

/* ==== text list ==== */
.txt-li {word-break: keep-all;}
.txt-li > li ~ li {margin-top:6px}

/* ==== tab ==== */
.com-tab__wrap {display:inline-flex; padding:10px 12px; border-radius: 32px; background-color: #ebebeb;}
.com-tab__col ~ .com-tab__col {margin-left:-1px}
.com-tab__btn {display:block; height:46px; line-height:46px; padding:0 24px; border-bottom:0; color: #000; background-color: transparent;}
.com-tab__btn--active {border:1.5px solid #000; border-radius: 32px; color:#000; font-weight: bold; background-color: #fff;}
.tab-content {display:none; padding:24px 0 0;}
.tab-content.show {display:block}

/* ==== form tag ==== */
input[type=text].input-text,
input[type=password].input-pwd,
input[type=email].input-text,
input[type=number].input-text,
input[type=tel].input-text {height:35px; padding: 3px 16px; border:1px solid #ccc; border-radius: 0;}

input[type=number].input-text::-webkit-inner-spin-button {appearance: none; -moz-appearance: none; -webkit-appearance: none;}

/* radio */   
.input-radio {position: relative;}
.input-radio > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none;}
.input-radio > input + label {cursor: pointer;}
.input-radio > input + label::before {content:""; position:relative; z-index: 1;  display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align:  -3px; background: url('../images/inp-radio.svg') no-repeat 0 bottom / 16px auto;}
.input-radio > input:checked + label::before {background-position: 0 top;}
.input-radio + .input-radio {margin-left:12px;}

/* checkbox */
.input-checkbox {position: relative;}
.input-checkbox > input {position:absolute; width:15px; height:15px; -webkit-appearance: none; appearance: none; }
.input-checkbox > input + label {cursor: pointer;}
.input-checkbox > input + label::before {content:"";position:relative; z-index: 1; display:inline-block; width:16px; height:16px; margin-right:4px; vertical-align: -3px; background: url('../images/inp-chk.svg') no-repeat 0 bottom / 16px auto;}
.input-checkbox > input:checked + label::before {background-position: 0 top;}
.input-checkbox + .input-checkbox {margin-left:12px;}

/* date */
input[type='date'].input-date {-webkit-appearance: none; appearance: none; height:46px; padding:0 5px 0 10px; border: 1px solid #000;}
input[type='date'].input-date::-webkit-calendar-picker-indicator {/* 달력 이미지 */}

.input-jq-date {height:35px; padding-left:15px; border:1px solid #ccc; background: url('../images/icon-calendar.svg') no-repeat top 50% right 16px / 18px 18px;}

.input-date {display:flex; align-items: center; width:100%; max-width:500px;}
.input-date input {width:100%;}
.input-date em {padding:0 8px;}

/* select */
.input-select {display:inline-block}
.input-select select {width:100%; height:35px; padding:0 35px 0 15px; border:1px solid #ccc; color:#000; -webkit-appearance: none; appearance: none; background: url('../images/select-combo.svg') no-repeat top 50% right 15px / 10px 7px;}


/* textarea */
textarea.input-textarea {resize: none; padding:6px; border:1px solid #ccc; font-size:inherit; color: #171717; box-sizing: border-box;}
.byte-count {color:#999; font-size:12px; text-align:right;}

/* 검색창 */
.input-search {display:flex; align-items: center; border: 1px solid #ccc;}
.input-search__input {width:calc(100% - 32px); height:24px; margin-right:10px; padding:0 16px;}
.input-search__btn {width:35px; height:33px; border-left:1px solid #ccc; background:#7f3cff url('../images/icon-search-wt.svg') no-repeat center / 19px 19px}

/* 주소 */
.input-address__detail {margin-top:8px;}

/* input + button */
.input-withBtn {display:flex;align-items: center;}
.input-withBtn .btn {display:inline-flex; align-items: center; justify-content: center; height:35px; margin-left:16px; padding:0 20px; border:2px solid #000;  border-radius: 23px; color:#000; font-size: 14px; font-weight: bold; background-color: #fff;}
.input-withBtn [class^="btn-"] {margin-left:8px}

/* 선택된 text */
.selected-item {display: inline-flex; align-items: center; margin:2px 4px 2px 0; padding:0 16px 0 8px; border:1px dashed #ccc; border-radius: 15px; line-height:29px; vertical-align: middle; background-color: #fff;}
.selected-item .btn-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}

/* 파일찾기 */
.input-file {position:relative; vertical-align: middle;}
.input-file input[type="file"] {position:absolute; opacity: 0; width:100px; height:35px;}
.input-file input[type="file"]:focus + label {outline: 1px solid #000;}

.file-list {display:flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.file-list__volume {font-size: 12px; color: #999;}

/* 선택된 file */
.selected-file {display: inline-flex; align-items: center; margin:0 4px 4px 0; padding:0 16px 0 8px; line-height:29px; font-size: 16px; background-color: #fff;}
.selected-file .btn-file-del {margin-right:8px;}
.btn-reset + .selected-item {margin-left:16px;}

/* 관심바이어 */
.input-like {position: relative; display:inline-block; vertical-align: middle;}
.input-like > input {position:absolute; width:42px; height:42px; -webkit-appearance: none; appearance: none; }
.input-like > input + label {position:relative; z-index: 1; display:inline-block; width:42px; height:42px; padding-left:20px; background: url('../images/icon-like.svg') no-repeat left 0 / auto 42px; cursor: pointer;}
.input-like > input:checked + label {background-position: right 0;}

[class^="board-"] .input-like > input + label {width:20px; height:19px; background: url('../images/icon-like-sm.svg') no-repeat 0 bottom / 20px auto;}
[class^="board-"] .input-like > input:checked + label {background-position: 0 top;}

/* 모바일 */
@media screen and (max-width: 800px) {
  input[type=text].input-text,
  input[type=password].input-pwd,
  input[type=email].input-text,
  input[type=number].input-text,
  input[type=tel].input-text,
  .input-select select {width:100%;}

  textarea.input-textarea {width:100%}

  .input-address > div + div {margin:5px 0 0 0;}
}

/* ==== board ==== */
/* 게시판 상단 */
.board-head {display:flex; align-items: flex-end; justify-content: space-between; margin-bottom:8px;}
.board-count {font-weight: bold;}
.board-count > em {color:#FF4DD6;} 
.send-count {margin-right:12px;}
.send-count > strong {color:#FF4DD6; text-decoration: underline;} 
.board-head__right {display:flex; align-items: center;}
.board-head__right * + * {margin-left:4px;}

/* 게시판 목록 */
.board-list {overflow-x:auto; overflow-y:hidden; width:100%;}
.board-list__table {width:100%; min-width:900px; border-top:3px solid #000;}
.board-list__table th {height:36px; padding:5px; border-bottom:1.5px solid #000; line-height: 1.3; text-align: center; background-color: #FFF ;}
.board-list__table td {height:36px; padding:5px; border-bottom:1px solid #ccc; line-height: 1.3; text-align: center; }
.board-list__table tr th:last-child,
.board-list__table tr td:last-child {border-right:0;}

.board-list-headFixed {position:relative;}
.board-list-headFixed .fixed--head {position:absolute; top:0;}
.board-list-headFixed .fixed--body {position:relative; top:62px; overflow-y:auto; max-height:320px;}
.board-list-headFixed .fixed--body .board-list__table {border-top:0;}
.modal-popup .board-list-headFixed .board-list__table {min-width: 100%;}

/* 게시판 쓰기 & 상세 */
.board-write,
.board-view {border-top:3px solid #000;}
.board-write__table, 
.board-view__table {width:100%;}
.board-write__table th,
.board-view__table th {padding:5px 10px; line-height: 1.3; text-align: left; word-break: keep-all;}
.board-write__table td,
.board-view__table td {padding:24px 0; line-height: 1.3; border-bottom:1px solid #ccc;}
.board-write__table tr:last-child td,
.board-view__table tr:last-child td {border-bottom:0;}

.board-write__table + .com-tit4 {margin-top:40px; padding-top:32px; border-top:1px solid #000;}

.board-write-simple__table {width:100%;}
.board-write-simple__table th {padding:8px 0; text-align: left;}
.board-write-simple__table td {padding:8px 0;}
.board-write-simple__table input.input-text {width:100%;}
.com-notiBox + .board-write-simple {margin-top:32px;}

.icon-req::before {content: '*'; color:red}

.board-write__head {display:flex; align-items: center; justify-content: space-between; padding:17px 0; border-bottom:1.5px solid #000;}
.td__row + .td__row {margin-top:16px; padding-top:16px; border-top:1px dashed #ccc;}


/* pc & 태블릿 */
@media screen and (min-width: 801px) {
  /* 조건검색 */
  .board-search {margin-bottom:80px; border-top: 2.5px solid #000;}
  .board-search__row {display:flex; align-items: center; flex-wrap: wrap; padding:16px 0; border-bottom:1px solid #ccc}
  .board-search__col {display:flex; align-items: center; flex:1; width:100%}
  .board-search__label {flex:0 0 150px; font-weight: bold; font-size: 16px; white-space: nowrap;}
  .board-search__input {display:flex; align-items: center; width:100%;}
  .board-search__input > * + * {margin-left:10px;}
  .board-search__input > *:not(button) {width:100%;}
  .board-search__itemSelect button {margin-right:12px;}
  .board-search .btn-wrap {margin-top:24px}
 
  .flex-2 {flex:2;}
  .flex-1_5 {flex:1.5;}
  
  .board-list__table th,
  .board-list__table td {height:60px;}

  .modal-popup .board-list__table {min-width:100%}
}

/* 모바일 */
@media screen and (max-width: 800px) {
  /* 조건검색 */
  .board-search {margin-bottom:20px;}
  .board-search__col {width:100%;}
  .board-search__row ~ .board-search__row,
  .board-search__col ~ .board-search__col,
  .board-search__input > * + * {margin-top:15px;}
  .board-search__input > *:not(button) {width:100%;}
  .board-search__label {margin-bottom:8px; font-weight: bold; font-size: 14px; white-space: nowrap;}
  .board-search__input {width:100%;}

  .board-write__table colgroup {display:none;}
  .board-write__table th {display:block; width:100%; padding:12px 0 0;}
  .board-write__table td {display:block; width:100%; padding:12px 0}

  .board-list-headFixed .fixed--body {top:38px}
}

/* ===== modal popup ===== */
.modal-popup {display: none; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background-color:rgba(0,0,0,0.64);}
.modal-popup--show {display: block;}
.modal-popup__wrap {position: absolute; top:50%; left:50%; overflow: hidden; transform: translate(-50%, -50%); width:95%; max-width:800px; border-radius: 24px; background-color: #fff; }
.modal-popup__head {padding:40px 40px 20px;}
.modal-popup__body {overflow-y:auto; min-height:600px; max-height:500px;}
.modal-popup__title {max-width:90%; font-size: 24px; line-height:30px; word-break: keep-all;}
.modal-popup__title [class^="icon"] {margin-right:16px;}
.modal-popup__title + .txt-date {margin-top:8px;}
.modal-popup__content {padding:20px 40px;}
.modal-popup__foot {padding:20px 10px 40px}
.modal-popup__foot .btn-wrap {margin-top:0}
.modal-popup__close {position:absolute; top:40px; right:40px}
.modal-popup__close > button {width:30px; height:30px; background:url('../images/btn-modal-close.svg') no-repeat center / 30px 30px;}
/* full */
.modal-popup--full .modal-popup__wrap {width:100%; max-width:100%; height:100%; border-radius: 0;}

.modal-popup  .input-search__btn {background: #fff url(../images/icon-search-bk.svg) no-repeat center / 19px 19px;}


/* pc & 태블릿 */
@media screen and (min-width: 801px) {
  /* large 960*600 */
  .modal-popup--large .modal-popup__wrap {max-width:960px;}
  .modal-popup--large .modal-popup__body {max-height:600px;}
  /* small 640*400 */
  .modal-popup--small .modal-popup__wrap {max-width:640px;} 
  .modal-popup--small .modal-popup__body {max-height:600px; min-height: 300px;}
  /* xsmall 400*300 */
  .modal-popup--xsmall .modal-popup__wrap {max-width:400px;} 
  .modal-popup--xsmall .modal-popup__body {max-height:400px; min-height: 300px;}
}

/* 모바일 */
@media screen and (max-width: 800px) {  
  .modal-popup__head {padding:20px;}
  .modal-popup__body {max-height:calc(100vh - 200px); min-height:auto;}
  .modal-popup__content {padding:0 20px 30px;}
  .modal-popup__foot {padding-bottom:20px;}
  .modal-popup__close {top:20px; right:20px}
}

/* ===== modal alert ===== */
.modal-alert {display: none; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background-color:rgba(0,0,0,0.64);}
.modal-alert--show {display: block;}
.modal-alert__wrap {position: absolute; top:50%; left:50%; overflow:hidden; border-radius: 24px; transform: translate(-50%, -50%); width:350px;}
.modal-alert__head {padding:20px 20px; margin-bottom:-1px; background-color: #fff;}
.modal-alert__title {color:#000}
.modal-alert__body {min-height:100px; background-color: #fff;}
.modal-alert__msg {padding:30px 10px; text-align:center;}
.modal-alert__btnArea {display:flex;}
.modal-alert__btnArea > button {flex:1; padding:10px 0;}
/* 버튼 */
.btn-alert-action {height:46px; color:#fff; background-color: #000;}
.btn-alert-cancel {height:46px; border-top:1px solid #000; color:#000;}

/* ==== 로딩중 ==== */
.loading {position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background:rgba(0,0,0,0.64) url(../images/loading.svg) no-repeat center center ;}

/* ==== 윈도우 팝업 ==== */
.window-popup {height:100%; background-color:#f2f2f2;}
.window-popup__head {position:relative; z-index: 10; padding:20px 40px 12px; background-color: #fff;}
.window-popup__body {background-color: #fff;}
.window-popup__logo img {width:75px; height:auto; vertical-align: middle;}
.window-popup__content {padding:20px 40px;}
.window-popup__h2 {margin-bottom:15px; font-size:24px; line-height: 36px; color:#333;}
.window-popup__foot {display:flex; align-items: center; justify-content: center; height:30px;  background-color: #eee;}
.window-popup__foot-title {margin-right:10px; padding-right:10px; border-right:1px solid #666; font-size:12px;}
.window-popup__copyright {font-size:12px;}

.window-popup .com-notiBox {padding:25px 40px; background-color:#f2f2f2;}

.window-popup .input-search__btn {background: #fff url(../images/icon-search-bk.svg) no-repeat center / 19px 19px;}

/* 비밀번호 변경 */
.window-popup .com-login {padding:40px 20px;}
.window-popup .com-login .btn-wrap {margin-top:40px}



/* ==== 아코디언 === */
.com-accordion__head {position:relative; display:flex; align-items: center; justify-content: space-between; padding:16px 0; border-bottom:1px solid #ccc;}
.com-accordion__btn {display:block; position: relative; right:24px; width:14px; height:14px; background: url('../images/btn-acco.svg') no-repeat 0 0 /100% 100%;}
.com-accordion__body {display:none; height:0; border-bottom:1px solid #ccc; background-color: #fafafa;;}
.com-accordion__row.open .com-accordion__body {display:block; height:auto;}
.com-accordion__row.open .com-accordion__btn {transform: rotate(180deg);}

/* 모바일 */
@media screen and (max-width: 800px) {
  .com-accordion__date {display:block; margin-top:5px; padding:0; border-left:0;}
}

/* ==== 공지사항 ==== */
.style--notice {border-top:3px solid #000}
.style--notice .com-accordion__title {padding-left:50px;}
.style--notice .com-accordion__sort {position:absolute; left:0; top:13px; display:inline-block; padding:0 5px; border:1px solid #ccc; border-radius:24px; line-height:24px;}
.style--notice .com-accordion__text {display:inline-block; margin-left:10px;}
.style--notice .com-accordion__date {display:inline-block; margin-left:10px; padding-left:10px; border-left:1px solid #999; color:#999;}
.notice-cont {padding:24px; line-height:1.3}

/* ==== 문의내역 ==== */
.style--faq {border-top:3px solid #000}
.style--faq .com-accordion__title {}
.style--faq .com-accordion__sort {position:absolute; left:0; top:13px; display:inline-block; padding:0 5px; border:1px solid #ccc; border-radius:24px; line-height:24px;}
.style--faq .com-accordion__text {display:inline-block; margin-left:10px;}
.style--faq .com-accordion__date {display:inline-block; margin-left:10px; padding-left:10px;}
.style--faq .com-accordion__state {margin-left:8px; color: #7f3cff;}



/* ==== 주소 검색 ==== */
.com-post-search .com-notiBox {margin-top:16px; padding:24px 0 0; border-top:3px solid #000; background-color: #fff;}
.com-post-search .txt-li {margin-top:15px}
.com-post-search__result {margin-top:15px; border:1px solid #ccc;}
.com-post-search__result > ul > li {padding:15px;}
.com-post-search__result > ul > li + li {border-top:1px solid #ccc;}
.com-post-search__btn > * {display:block; line-height: 1.5; text-align:left;}
.com-post-search__btn > em {color:#ff0000}
.com-post-search__btn:hover {color:#0066ff}


/* ==== 로그인 ==== */
.container-login {display:flex; flex-direction: column; justify-content: center; min-height:calc(100vh - 271px); padding:110px 0 60px; background-color: #f5f6fa;}
.container-login .content-head__inner {display:block;}
.container-login .title-area {display:block; text-align:center}
.container-login .com-tit3 {font-size:48px; line-height: 44px;}
.container-login .com-titDesc {margin-top:16px; font-size:24px; line-height: 26px; color:#171717}
.container-login .com-notiBox {max-width:600px; margin:24px auto 0; padding-left:0; border: 0; font-size:14px; color:#666;}
.container-login .com-notiBox__title {color:#666;}
.container-login .btn-cta-pri {border-color: #7e3cff; background-color: #7e3cff;}
.container-login .btn-cta-sec {border-color:#7e3cff; color:#7e3cff}

.com-login {max-width:600px; margin: 0 auto; padding:56px 20px; border-radius: 40px 0px; background: #fff;}
.com-login__inputArea {max-width:460px; margin:0 auto;}
.com-login__inputArea input {width:100%; height:51px !important;}
.com-login__inp {margin-bottom:15px}
.com-login .btn-wrap {max-width:460px; margin:80px auto 0;}
.com-login .btn-wrap [class^="btn-"]  {width:100%; height:61px; margin:0 5px;}
.com-login .btn-wrap .btn-cta-sec {margin-top:16px}
.com-login .btn-wrap.column {display:flex; align-items: center; margin-top:24px;}
.com-login .btn-wrap.column > .btn-cta-sec {margin:0 20px 0 0}
.com-login .btn-wrap.column > * {flex:1; min-width:auto;}
.com-login__help {display:flex; align-items: center; justify-content: space-between; max-width:460px; margin:0 auto; font-size:14px;}
.com-login__help .input-checkbox label {color:#999;}
.com-login__help .btn-find {color:#000; font-weight: bold;}
.com-login__help .btn-find + .btn-find::before {content:""; display:inline-block; width:1px; height:12px; margin-right:8px; vertical-align: -1px; background-color: #000;}


.com-login__find > a {margin-left:6px;}
.com-login__msg {padding-top:38px; text-align: center; font-size:19px; word-break: keep-all; line-height: 25px;}
.com-login__msg strong {color:#7F3CFF;}

/* 모바일 */
@media screen and (max-width: 800px) {
  .container-login {padding-left:20px; padding-right:20px;}
  .com-login .com-notiBox {margin-left:15px; margin-right:15px}
  .container-login .com-tit3 {font-size:32px; line-height: 1;}
  .container-login .com-titDesc {margin-top:8px; font-size:16px;}
  .com-login .btn-wrap.column > .btn-cta-sec {margin:0 5px 0 0}
}

/* ==== 회원가입 ==== */
.com-step-flow__wrap {display:flex; align-items: center; justify-content: center; max-width:610px; margin:0 auto 45px; padding:10px 16px; border-radius: 32px; background: #fff;}
.com-step-flow__wrap > li {position:relative; display:flex; align-items: center; justify-content: center; height:40px; color:#ccc; font-size:21px;}
.com-step-flow__wrap > li::after {position:absolute; right:-20px; content:''; display:block; width:6px; height:10px; background: url('../images/term-arr-off.svg') no-repeat 0 0 / 100% 100%;}
.com-step-flow__wrap > li:last-child::after {display:none;}
.com-step-flow__wrap > li + li {margin-left:36px;}
.com-step-flow__wrap > li.com-step-flow__current {padding:12px 24px; font-weight: bold; border-radius: 23px; border: 1.5px solid #803cff; text-align:center; color: #7f3cff;}
.com-step-flow__wrap > li.com-step-flow__current::after {background-image: url('../images/term-arr-on.svg');}

.join-box {max-width:880px; margin: 0 auto; padding:56px 20px; border-radius: 40px 0px; background: #fff;}
.join-box .btn-wrap {display:flex; max-width:460px; margin: 40px auto 0;}
.join-box .btn-wrap * {width:100%; flex:1;}
.style--terms .terms-all {margin-bottom:15px;}
.style--terms .terms-all label {font-size:19px; font-weight: bold;}
.style--terms .terms-all .input-checkbox > input + label::before {top:3px; width:24px; height:24px; background-size: 24px auto;}
.style--terms .input-checkbox > input + label::before {margin-right:16px;}
.style--terms .com-accordion__title em {color:#FF526B}
.style--terms .com-accordion__btn,
.style--terms-single .com-accordion__btn  {background: url('../images/btn-acc-arr.svg') no-repeat center / 10px 5px;}
.terms-cont {overflow-y:auto; max-height:200px; padding:20px; line-height: 20px; font-size:14px;}

.style--terms-single .com-accordion__head {border-bottom:0; border-top:1px solid #ccc}
.style--terms-single .com-accordion__row.open .com-accordion__body {border-bottom:0;}
.com-notiBox + .style--terms-single {margin-top:32px;}

.join--complete {max-width:600px;}

/* 회원정보 */
.join-box__table {margin:0 auto;}
.join-box__table th {padding:8px 0; text-align:left; line-height:1.3}
.join-box__table td {padding:8px 0;}
.join-box__table input[class^="input-"],
.join-box__table select {width:100%; height:51px;}

/* pc, 태블릿 */
@media screen and (min-width: 801px) {
  .join-box__table input[class^="input-"],
  .join-box__table select {width:330px}
}

/* 모바일 */
@media screen and (max-width: 800px) {
  .com-step-flow__wrap > li {padding:6px 12px; font-size:14px;}
  .com-step-flow__wrap > li + li {margin-left:12px;}
  .com-step-flow__wrap > li.com-step-flow__current {padding:8px 10px;}
  .com-step-flow__wrap > li::after {right:-11px;}
}

/* ==== 빅데이터 바이어 발굴 ==== */
.bigdata-buyer {display:flex;  max-width: 1366px; margin:0 auto; padding:0 20px 15px; box-sizing: content-box;}
.bigdata-buyer > div {flex:1; padding:40px; border-radius: 40px 0px;}
.bigdata-buyer .com-tit4 {height:69px; padding:0 0 0 84px;}
.bigdata-buyer .com-tit4 small {display:block; font-size: 14px; line-height: 26px;}
.bigdata-buyer .com-tit4 em {font-size: 14px;}
.bigdata-buyer__input {display:flex;}
.bigdata-buyer__selected {margin-top:24px;}

.bigdata-buyer__step1 {background-color:#e3f4ff;}
.bigdata-buyer__step1 .com-tit4 {background: url('../images/icon-step1.svg') no-repeat 0 0 / 68px 69px;}
.bigdata-buyer__step1 .input-select {width:100%;}
.bigdata-buyer__step1 .input-select select {color:#fff; font-weight: bold; background:#4976db url('../images/select-combo-w.svg') no-repeat top 50% right 24px / 15px 8px;}
.bigdata-buyer__step1 .selected-item {border-color: #4976db; color:#4976db;} 
.bigdata-buyer__step1 .btn-del {background-color: #4976db;}

.bigdata-buyer__step2 {margin-left:24px; background-color:#fff7e3;}
.bigdata-buyer__step2 .com-tit4 {background: url('../images/icon-step2.svg') no-repeat 0 center / 69px 69px;}
.bigdata-buyer__step2 .bigdata-buyer__input .btn {width:calc(100% - 35px); height: 35px; margin-right:8px; border-radius: 18px; color: #fff; font-weight: bold; background: #e09302;}
.bigdata-buyer__step2 .selected-item {border-color: #e09302; color:#e09302;} 
.bigdata-buyer__step2 .btn-del {background-color: #e09302;}
.bigdata-buyer__step2 .btn-reset {background-image: url('../images/btn-reset-org.svg');}

.bigdata-buyer__step3 {margin-left:24px; background-color:#fceaea;}
.bigdata-buyer__step3 .com-tit4 {background: url('../images/icon-step3.svg') no-repeat 0 center / 69px 69px;}
.bigdata-buyer__step3 .input-withBtn {width:calc(100% - 35px)}
.bigdata-buyer__step3 .input-withBtn .btn {width:75px; margin:0 18px 0 0; border:0; border-radius: 0; color:#fff; background-color: #d81e1e;}
.bigdata-buyer__step3 .input-withBtn input {width:100%; border-color:#d81e1e;}
.bigdata-buyer__step3 .btn-reset {background-image: url('../images/btn-reset-rd.svg');}
.bigdata-buyer__step3 .selected-item {border-color: #d81e1e;color:#d81e1e;} 
.bigdata-buyer__step3 .btn-del {background-color: #d81e1e;}

.buyer-result {display:flex; max-width:1366px; margin:40px auto 0}
.buyer-result__col {position:relative; flex:1; padding:25px 60px 24px 0; border-radius: 40px 0px; text-align:right; background-color: #edeff6;}
.buyer-result__col + .buyer-result__col {margin-left:40px;}
.buyer-result__tit {margin-right:42px; font-weight: bold;}
.buyer-result__count {margin:10px 0; font-weight: bold; font-size:26px;}
.buyer-result__count strong {font-size:24px; color:#7F3CFF;}
.buyer-result__col:nth-child(1)::before {content: ""; display:block; position:absolute; top:-14px; left:40px; width:93px; height:86px; background: url('../images/icon-buyer1.png') no-repeat 0 0 / 100% 100%;}
.buyer-result__col:nth-child(2)::before {content: ""; display:block; position:absolute; top:-14px; left:40px; width:84px; height:86px; background: url('../images/icon-buyer2.png') no-repeat 0 0 / 100% 100%;}
.buyer-result__col:nth-child(3)::before {content: ""; display:block; position:absolute; top:-14px; left:30px; width:85px; height:90px; background: url('../images/icon-buyer3.png') no-repeat 0 0 / 100% 100%;}

/* 모바일 */
@media screen and (max-width: 1280px) {
  .bigdata-buyer {display:block; padding:0 20px;}
  .bigdata-buyer > div {margin:24px 0 0 0; padding:24px;}
  .bigdata-buyer .com-tit4 {font-size:21px;}
}


/* ==== 미리보기 ==== */
.mail-view {padding:24px; border:1px solid #ccc;}
.mail-view * {font-size:16px}
.mail-view__subject {padding-bottom:16px; line-height: 26px; color: #4b3cff; font-size: 16px; font-weight: bold}
.mail-view__info {padding:16px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.mail-view__info > ul > li {display:flex; flex-wrap: wrap; width:100%; line-height:24px;}
.mail-view__info > ul > li ~ li {margin-top:8px;}
.mail-view__info .lt {display: inline-block; width:90px; font-weight: bold; line-height:24px;}
.mail-view__info .ld {display: inline-block; margin-left:4px; line-height:24px;}
.mail-view__info .buyer-list {position:relative; display:inline-block; overflow:hidden; height:24px; padding-left:24px; line-height:24px;}
.mail-view__info .buyer-list .btn-listDown-sm {position:absolute; top:5px; left:4px;}
.mail-view__info .buyer-list.show {height:auto}
.mail-view__info .buyer-list.show .btn-listDown-sm {transform: rotate(180deg);}
.mail-view__cont {padding:16px 0;}
.mail-view__cont  * {line-height: 30px;}
.mail-view .file-info {width:100%;}
.mail-view .file-list {width:100%; margin-top:12px;}
.mail-view .file-list * {font-size:14px}
.mail-view .file-list > li {display:flex; justify-content: space-between; width:100%; padding:12px 0; border-top:1px dashed #ccc;}
.mail-view .file-list__file > em {padding-right:6px; border-right:1px solid #ccc}

 /* 모바일 */
@media screen and (max-width: 800px) {
  .mail-view {padding:15px}
  .mail-view * {font-size:14px;}
  .mail-view__info .lt {display:block; width:100%;}
}

/* ==== mail form ==== */
.mail-form {border-top:1.5px solid #000;}
.mail-form .btn-wrap {margin-top:0; padding:16px 0; text-align:right;}
.mail-form__subject {padding:16px 0; border-top:1px solid #ccc; line-height: 32px; font-size: 24px; font-weight: bold; word-break: keep-all;}
.mail-form__info {padding:16px 0; border-bottom:1px solid #ccc;}
.mail-form__info .com-list-info dt {font-weight: bold;}
.mail-form__info .com-list-info dd {font-weight: normal;}
.mail-form__cont {padding:16px 0;}
.mail-form__cont  * {line-height: 30px;}
.mail-form .file-info {margin-top:16px; padding-top:16px; border-top:1px solid #ccc;}
.mail-form .file-info dd {width:100%;}
.mail-form .file-list {margin-top:12px;}
.mail-form .file-list * {font-size:14px}
.mail-form .file-list > li {display:flex; justify-content: space-between; width:100%; padding:7px 0}
.mail-form .file-list__file > em {padding-right:6px; border-right:1px solid #ccc}

/* ==== 완료화면 ==== */
/* pc */
@media screen and (min-width: 801px) {
  .complete-msg {max-width:1366px; margin: 0 auto; padding:175px 0 50px; line-height:1.5; text-align:center; background: url('../images/icon-complete.svg') no-repeat center 0 / 165px 160px;}
  .complete-msg__tit {margin-bottom:8px; font-size: 24px; font-weight: bold; word-break: keep-all;}
  .complete-msg__tit strong {color: #4d6aff;}
  .complete-msg__txt {font-size: 16px;}
  .complete-msg__txt strong {color: #ff526b; text-decoration: underline;}
}

/* 모바일 */
@media screen and (max-width: 800px) {
  .complete-msg {margin:50px 0 30px; padding:100px 20px 50px; line-height:1.5; text-align:center; background: url('../images/icon-complete.svg') no-repeat center 0 / 85px auto;}
  .complete-msg__tit {margin-bottom:8px; font-size: 18px; font-weight: bold; word-break: keep-all;}
  .complete-msg__tit strong {color: #4d6aff;}
  .complete-msg__txt {font-size: 14px;}
  .complete-msg__txt strong {color: #ff526b; text-decoration: underline;}
}

/* ==== 사기바이어 ==== */
.buyer-check li + li {margin-top:8px;}
.buyer-check__true {color:green;}
.buyer-check__true::before {content:"v"; padding-right:4px;}
.buyer-check__false {color:#ff526b;}
.buyer-check__false::before {content:"x"; padding-right:4px;}


/* ==== 통합검색 ==== */
.search-head {padding:20px 20px 80px 20px; border-bottom:2px solid #000; background-color: #fff;}
.search-head__title {max-width:800px; margin:0 auto 24px; padding-left:41px; font-size: 32px; background: url('../images/icon-search-bk.svg') no-repeat 0 2px / 26px 26px;}
.search-head .input-search {max-width:800px; margin:0 auto 40px;}
.search-head .input-search input {height:51px;}
.search-head .input-search .input-search__btn {width:51px; height:51px; background-size: 22px 22px;}
.search-head__keyword {margin-top:20px; text-align:center; font-size:18px;}
.search-head__keyword .keyword {color:#7F3CFF;}
.search-head__keyword .count {color:#FF4DD6; font-weight: bold;}

.search-result {max-width:1366px; margin:0 auto; padding:40px 0;}
.search-result__anchor {max-width:1366px; margin:33px auto 0; padding:0 20px; text-align:center;}
.search-result__anchor > * {margin-right:24px;}
.search-result__nodata {padding:20px 0; text-align:center;}
.search-result__btn {display:inline-block; height: 29px; line-height:29px; padding:0 15px; margin:4px 12px; border-radius: 14.5px; font-size:14px; text-align:center; background: #f2f2f2;}
.search-result__btn em {font-weight: bold; color:#FF4DD6; text-decoration: underline}

.search-result__cont .section-cont {padding:30px 20px;}
.search-result__cont .section-cont + .section-cont {margin-top:0; border-top:1px solid #000} 
.keyword-cont dt {margin-bottom:9px; line-height: 1.3;}
.keyword-cont dt a:hover {text-decoration: underline;}
.keyword-cont dt .keyword {color: #FF4DD6; font-weight: bold;}
.keyword-cont dd {line-height: 1.3;}
.keyword-cont__text {margin-bottom:9px; line-height: 1.3; font-size: 14px; color:#999;}
.keyword-cont__path {color:#999; font-size:12px;}

.keyword-cont + .keyword-cont {margin-top:30px;}

@media screen and (min-width: 801px) {
  .search-head {position: sticky; top:65px; z-index: 9;}
}


/* ==== 바이어 메시지 ==== */
.buyer-message-head {display:flex; align-items: center; justify-content: space-between;}
.buyer-message-head_title {display:flex; align-items: center; font-size:24px;}
.buyer-message-head_title h1 {margin-left:16px; font-size:19px;}
.buyer-message-head .btn-wrap {margin-top:0;}
.buyer-message__btn {display:inline-block; padding:8px 32px 7px 15px; border-radius: 8px; font-size: 14px; background: #ebecf2 url('../images/icon-send-bk.svg') no-repeat right 15px center / 11px 11px;}

.buyer-message-window {overflow-y:auto; padding:20px; height:calc(100% - 72px); background: #f3f2fa;}
.member-img img {width:40px; height:40px;}
.message__date {margin-bottom:8px;}
.massage__box {position:relative; display:inline-block; padding:15px; border:1px solid  #e0dfe6; border-radius: 8px; line-height: 20px; background-color: #fff;}
.massage__box .btn-wrap {margin-top:24px; text-align:right;}

.message-area.buyerMesg {position:relative; padding-left:60px;}
.message-area.buyerMesg .member-img {position:absolute; top:0; left:0;}
.message-area.buyerMesg .massage__box::after {content: ""; position:absolute; left:-8px; top:8px; display:block; width:9px; height:10px; background: url('../images/icon-bubble-tail-left.svg') no-repeat 0 0 / 100% 100%;}
.message-area.myMesg {display:flex; flex-direction: column; align-items: flex-end; padding-right:60px; background: url('../images/icon-my.svg') no-repeat right 0 / 40px 40px;}
.message-area.myMesg .massage__box::after {content: ""; position:absolute; right:-7px; top:8px; display:block; width:9px; height:10px; background: url('../images/icon-bubble-tail-right.svg') no-repeat 0 0 / 100% 100%;}
.message-area + .message-area {margin-top:40px;}

/* ==== 빅바이어 마케팅 소개 ==== */

@media screen and (min-width: 1200px) {
  .container--subBg1 {position:relative; height:100%; min-height:800px; background: url('../images/bg-sub1.png') no-repeat 0 0 / 100% 100%;}
  .bigBuyer-marketing {display:flex; max-width:1366px; margin:0 auto; padding:0 20px; box-sizing: content-box;}
  .bigBuyer-marketing > div {flex:1;}
  .bigBuyer-marketing__title {margin-bottom:33px; font-size: 30px; color: #7c8190;}
  .bigBuyer-marketing__desc {max-width:576px; margin-bottom:42px; font-size: 56px; font-weight: bold; line-height: 70px; color: #000;  word-break: keep-all;}
  .bigBuyer-marketing__text {max-width:550px; line-height:1.3; font-size:20px; word-break: keep-all;}

  .bigBuyer-marketing__right {position: relative; display:flex; width:100%; height:100%;}
  .bigBuyer-marketing__box {display:block; width:300px; padding:140px 40px 60px; border:3px solid rgba(255,255,255,0.1); border-radius: 15px; background: rgba(255, 255, 255, 0.3) url('../images/icon-ticket.svg') no-repeat 36px 24px / 70px 67px; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px);}
  .bigBuyer-marketing__box b {display:block; color: #949599; font-size: 14px; font-weight: 900; line-height: 38px;} 
  .bigBuyer-marketing__box span {display:block; color: #333; font-size: 25px; font-weight: bold; line-height: 35px;}
  .bigBuyer-marketing__box span::after {content:url('../images/icon-arr.svg'); padding-left:8px;}
  .bigBuyer-marketing__box:nth-child(2) {position:absolute; top:-100px; right:50px;}
  .bigBuyer-marketing__box:nth-child(3) {position:absolute; right:0; top:240px;}
}


/* ==== 마이페이지 메인 ==== */
.mypage-main {border-top:2px solid #000;}
.mypage-main__head {display:flex; align-items: center; justify-content: space-between; padding:40px; font-size: 24px; background-color:#f5f6fa;}
.mypage-main__member .btn-member {color: #7f3cff; font-weight: bold; text-decoration: underline; background-color: transparent;}
.mypage-main__cash em {padding-left:16px; color: #587fff; text-decoration: underline; font-weight: bold;}
.mypage-main__cash .btn-cash {margin-left:24px;}
.mypage-main__menu {display:flex; max-width:1144px; margin:0 auto;}
.mypage-main__box {flex:1; margin:32px 0; padding:58px 15px 15px; border-radius: 15px; color:#fff; }
.mypage-main__box .title {margin-bottom:12px; text-align: center;}
.mypage-main__box .btn {display:block; width:100%; padding:8px 0; border-radius:12px; font-size: 14px; text-align:center; color:#fff; background-color: rgba(0,0,0,.2);}
.mypage-main__box + .mypage-main__box {margin-left:32px;}

.mypageBox--style1 {background: #9874f9 url('../images/icon-mypage-1.svg') no-repeat center 25px / 32px 24px;}
.mypageBox--style2 {background: #5b71ea url('../images/icon-mypage-2.svg') no-repeat center 25px / 35px 22px;}
.mypageBox--style3 {background: #44aafb url('../images/icon-mypage-3.svg') no-repeat center 25px / 24px 20px;}
.mypageBox--style4 {background: #50d5e6 url('../images/icon-mypage-4.svg') no-repeat center 25px / 24px 24px;}
.mypageBox--style5 {background: #a0d85e url('../images/icon-mypage-5.svg') no-repeat center 25px / 24px 25px;}
.mypageBox--style6 {background: #fcb06f url('../images/icon-mypage-6.svg') no-repeat center 25px / 29px 26px;}

/*
.mypageBox--style1 .btn {background-color: #7460D8;}
.mypageBox--style2 .btn {background-color: #465dcb}
.mypageBox--style3 .btn {background-color: #348cda}
.mypageBox--style4 .btn {background-color: #3dafc8}
.mypageBox--style5 .btn {background-color: #7ab252}
.mypageBox--style6 .btn {background-color: #c09161} */
