@charset "utf-8";

/* ==== text color ==== */
.txt-point01 {color:#0066ff}
.txt-point02 {color:#ff0000}
.txt-error {margin-top:3px; color:red; font-size:12px;}

/* ===== 버튼정의 ===== */
.btn-primary {display:inline-block; min-width:100px; height:40px; padding:0 10px; border:1px solid #20529e; color:#fff; background-color: #20529e;}
.btn-secondary {display:inline-block; min-width:100px; height:40px; padding:0 10px; border:1px solid #20529e; color:#20529e; background-color: #fff;}

.btn-more {display:inline-block; margin-top:20px; padding:10px; border:1px solid #ccc;}
.btn-line-link {display:inline-block; padding-bottom:2px; border-bottom:1px solid #0066ff; color:#0066ff}

/*  버튼레이아웃 */
.btn-wrap {text-align: center;}

/* ==== title ==== */
.com-tit2 {font-size:24px; color:#333}
.com-tit3 {margin-bottom:15px; font-size:18px; color:#333}
.com-titDesc {margin-left:15px}

/* ==== notiBox ==== */
.com-notiBox {margin-top:30px; padding:15px; border: 1px solid #ccc;}
.com-notiBox * {line-height:1.5;}
.com-notiBox__title {margin-bottom:9px; font-weight: bold; color:#000;}

/* ==== text list ==== */
.txt-li > li ~ li {margin-top:6px}

/* ==== tab ==== */
.com-tab__wrap {display:flex; border-bottom:1px solid #ccc}
.com-tab__col ~ .com-tab__col {margin-left:-1px}
.com-tab__btn {display:block; padding:10px; border:1px solid #ccc; border-bottom:0;}
.com-tab__btn--active {color:#fff; background-color: #20529e;}
.tab-content {display:none}
.tab-content.show {display:block}

/* ==== form tag ==== */
input[type=text].input-text,
input[type=password].input-pwd,
input[type=email].input-text,
input[type=number].input-text {height:30px; padding: 3px 5px; border:1px solid #999;}

input[type='date'].input-date {-webkit-appearance: none; appearance: none; border: 1px solid #ccc;}
input[type='date'].input-date::-webkit-calendar-picker-indicator {/* 달력 이미지 */}

.input-jq-date {border:1px solid #ccc; background: url(../images/icon-calendar.png) no-repeat top 3px right 5px / 10px auto;}


/* textarea */
textarea.input-textarea {resize: none;}

/* 검색창 */
.input-search {display:flex; padding:5px 10px; border: 1px solid #ccc;}
.input-search__input {width:calc(100% - 32px); margin-right:10px;}
.input-search__btn {width:22px; height:22px; background: url(../images/icon-search.png) no-repeat 0 0 / 100% 100%;}

/* 모바일 */
@media screen and (max-width: 768px) {
  input[type=text].input-text,
  input[type=password].input-pwd,
  input[type=email].input-text,
  input[type=number].input-text {width:100%;}
}

/* ==== board ==== */
/* 게시판 상단 */
.board-head {display:flex; align-items: center; justify-content: space-between; margin-bottom:10px;}

/* 게시판 목록 */
.board-list {overflow-x:auto;}
.board-list__table {width:100%; min-width:900px}
.board-list__table th {padding:5px; border:1px solid #999; border-left:0; text-align: center; background-color: #eee;}
.board-list__table td {padding:5px; border:1px solid #999; border-left:0; text-align: center;}
.board-list__table tr th:last-child,
.board-list__table tr td:last-child {border-right:0;}

/* 게시판 쓰기 & 상세 */
.board-write__table,
.board-view__table {width:100%;}
.board-write__table th,
.board-view__table th {padding:5px 10px; text-align: left;}
.board-write__table td,
.board-view__table td {padding:5px 10px;}

.icon-req::before {content: '*'; color:red}


/* pc & 태블릿 */
@media screen and (min-width: 769px) {
  /* 조건검색 */
  .board-search {margin-bottom:20px; padding:10px 0;}
  .board-search__row {display:flex; align-items: center;}
  .board-search__col {flex:1; display:flex; align-items: center; width:100%}
  .board-search__col ~ .board-search__col {margin-left:10px;}
  .board-search__label {padding:0 10px 0 0; white-space: nowrap;}
  .board-search__input {width:100%;}

  .flex-2 {flex:2;}
  .flex-1_5 {flex:1.5;}
}

/* 모바일 */
@media screen and (max-width: 768px) {
  /* 조건검색 */
  .board-search {margin-bottom:20px;}
  .board-search__col {display:flex; align-items: center; width:100%;}
  .board-search__col ~ .board-search__col {margin-top:10px;}
  .board-search__label {flex:0 0 100px}
  .board-search__input {width:100%;}
}

/* ===== modal popup ===== */
.modal-popup {display: none; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background-color:rgba(0,0,0,0.7);}
.modal-popup--show {display: block;}
.modal-popup__wrap {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:95%; max-width:800px; background-color: #fff; }
.modal-popup__head {padding:20px; background-color: #20529e;}
.modal-popup__body {overflow-y:auto; min-height:300px; max-height:500px;}
.modal-popup__title {color:#fff}
.modal-popup__content {padding:20px}
.modal-popup__foot {padding:20px 10px; border-top:1px solid #ccc;}
.modal-popup__close {position:absolute; top:20px; right:20px}
.modal-popup__close > button {width:20px; height:20px; background-color: #eee;}
/* full */
.modal-popup--full .modal-popup__wrap {width:100%; max-width:100%; height:100%;}
/* large 960*600 */
.modal-popup--large .modal-popup__wrap {max-width:960px;}
.modal-popup--large .modal-popup__body {max-height:600px;}
/* small 640*400 */
.modal-popup--small .modal-popup__wrap {max-width:640px;} 
.modal-popup--small .modal-popup__body {max-height:400px;}
/* xsmall 400*300 */
.modal-popup--xsmall .modal-popup__wrap {max-width:400px;} 
.modal-popup--xsmall .modal-popup__body {max-height:300px;}

/* 모바일 */
@media screen and (max-width: 768px) {
  .modal-popup--large .modal-popup__body {max-height:400px;}
}

/* ===== modal alert ===== */
.modal-alert {display: none; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background-color:rgba(0,0,0,0.7);}
.modal-alert--show {display: block;}
.modal-alert__wrap {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:350px;}
.modal-alert__head {padding:10px; background-color: #20529e;}
.modal-alert__title {color:#fff}
.modal-alert__body {min-height:100px; background-color: #fff;}
.modal-alert__msg {padding:30px 10px; text-align:center;}
.modal-alert__btnArea {display:flex;}
.modal-alert__btnArea > button {flex:1; padding:10px 0;}
/* 버튼 */
.btn-alert-action {color:#fff; background-color: #20529e;}
.btn-alert-cancel {border-top:1px solid #20529e; color:#20529e;}

.loading {position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999; background:rgba(0,0,0,0.7) url(../images/loading.svg) no-repeat center center ;}

/* ==== 윈도우 팝업 ==== */
.window-popup {height:100%;}
.window-popup__head {padding:6px 20px; border-bottom:1px solid #ccc; background-color: #eee;}
.window-popup__logo img {width:75px; height:auto; vertical-align: top;}
.window-popup__body {overflow-y:auto; height:calc(100% - 38px - 30px);}
.window-popup__content {padding:20px}
.window-popup__h2 {margin-bottom:15px; padding-bottom:12px; border-bottom:1px solid #ccc; font-size:18px; color:#333;}
.window-popup__foot {display:flex; align-items: center; justify-content: center; height:30px;  background-color: #eee;}
.window-popup__foot-title {margin-right:10px; padding-right:10px; border-right:1px solid #666; font-size:12px;}
.window-popup__copyright {font-size:12px;}



/* ==== 아코디언 === */
.com-accordion__head {position:relative; display:flex;align-items: center; justify-content: space-between; padding:10px 0; border-bottom:1px solid #ccc;}
.com-accordion__title {padding-left:50px;}
.com-accordion__sort {position:absolute; left:0; top:13px; display:inline-block; padding:0 5px; border:1px solid #ccc; border-radius:24px; line-height:24px;}
.com-accordion__text {display:inline-block; margin-left:10px;}
.com-accordion__date {display:inline-block; margin-left:10px; padding-left:10px; border-left:1px solid #999; color:#999;}
.com-accordion__btn {display:block; position: relative; width:30px; height:30px; border:1px solid #ccc}
.com-accordion__btn::after {content: ""; display:block; position: absolute; left:6px; top:3px; width:15px; height:15px; border-bottom:1px solid #333; border-left:1px solid #333; transform: rotate(-45deg);}
.com-accordion__body {display:none; height:0; padding:20px; border-bottom:1px solid #ccc; background-color: #eee;}
.com-accordion__row.open .com-accordion__body {display:block; height:auto;}
.com-accordion__row.open .com-accordion__btn::after {top:10px; transform: rotate(135deg);}

/* 모바일 */
@media screen and (max-width: 768px) {
  .com-accordion__date {display:block; margin-top:5px; padding:0; border-left:0;}
}


/* ==== 주소 검색 ==== */
.com-post-search .input-search {margin-bottom: 15px;}
.com-post-search .txt-li {margin-top:15px}
.com-post-search__result {margin-top:15px; border:1px solid #ccc;}
.com-post-search__result > ul > li {padding:15px;}
.com-post-search__result > ul > li + li {border-top:1px solid #ccc;}
.com-post-search__btn > * {display:block; line-height: 1.5; text-align:left;}
.com-post-search__btn > em {color:#ff0000}
.com-post-search__btn:hover {color:#0066ff}


/* ==== 로그인 ==== */
.com-login {max-width:1280px; margin: 0 auto; padding:30px 0;}
.com-login__inputArea {width:300px; margin:0 auto;}
.com-login__inputArea input {width:100%;}
.com-login__pw {margin-top:15px}
.com-login .btn-wrap {width:300px; margin:15px auto;}
.com-login .btn-primary  {width:100%}
.com-login__help {display:flex; align-items: center; justify-content: space-between; width:300px; margin:0 auto;}
.com-login__find > a {margin-left:6px;}

/* 모바일 */
@media screen and (max-width: 768px) {
  .com-login .com-notiBox {margin-left:15px; margin-right:15px}
}