@charset "utf-8";

@import url(../font/pretendard.css); /* font 정의 */


/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-family: 'Pretendard', 'Nanum Gothic', '나눔고딕', sans-serif; color: #171717; font-size: 14px; line-height: 1; border: 0; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
html, body { width: 100%; height: 100%; }

/* html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;} */
button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 1); background-color: #fff; }
button, textarea, select { font-size: 14px; box-shadow: none; letter-spacing: -1px; cursor: pointer; }
select {color:#818181; }
::-webkit-input-placeholder { color: #989898; }

a { font-size: inherit; color: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, dl, dt, dd, ul, li, button, span, div, p { -webkit-appearance: none; appearance: none; box-shadow: none; border: none; border-radius: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a.link { display: block; }
img { width: 100%; height: auto; }
ul, ol, li, dl, dt, dd { list-style:none; }
button {cursor:pointer;}

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
 
table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal; font-weight: 400;}

b, strong {font-family: inherit; font-size:inherit; color:inherit; font-weight:700; letter-spacing:inherit;}

em, span, i, label{font-size:inherit; color:inherit; font-weight:inherit; letter-spacing:inherit;}

/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

/* ds-none */
.ds-none { display: none; }
.ds-block { display: block; }

/* padding */
.paBot10 { padding-bottom: 10px; }

/* margin */
.maTop20 {margin-top: 20px;}
.maBot10 { margin-bottom: 10px; }

/* text */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.gradient::before{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(242, 245, 247, 0), rgba(242, 245, 247, 0.33) 80%, #f5f7faa6 100%);}

/* input[type=password]{letter-spacing:-1.5px !important;} */
.scrN{overflow:hidden;}

/* input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px white inset;} */

.w100p {width:100%}


/* ==== layout ==== */
/* 유틸메뉴 */
.util-menu {position: relative; top:4px;}
.util-menu__wrap {display:flex; align-items: center; }
.util-menu__wrap * ~ * {margin-left:24px;}
.btn-login {display:inline-block; width:24px; height:24px; background: url(../images/icon-login.png) no-repeat 0 0 / 100% 100%;}
.btn-support {display:inline-block; width:24px; height:24px; background: url(../images/icon-support.png) no-repeat 0 0 / 100% 100%;}
.btn-search {display:inline-block; width:24px; height:24px; background: url(../images/icon-search.png) no-repeat 0 0 / 100% 100%;}
.btn-sitemap {display:inline-block; width:24px; height:24px; background: url(../images/icon-sitemap.png) no-repeat 0 0 / 100% 100%;} 


.container {min-height:calc(100vh - 271px); padding:110px 0 60px;}

.title-area {display:flex; align-items: center;}

.section-cont {max-width: 1600px; margin:0 auto; padding:15px 0;}
.section-cont + .section-cont {margin-top:30px;}


/* pc */
@media screen and (min-width: 1280px) {
 
  .gnb {position: relative; top:24px; z-index:10; align-self: baseline;}
  .gnb__wrap {display:flex;}
  .gnb__a01 {display:block; margin:0 55px; font-size: 18px; font-weight: bold; color:#000; letter-spacing: -1px;}
  .gnb__a01 + ul {border:1px solid #999; padding:20px 10px; background-color: #fff;}
  .gnb__depth02 {display:none; margin:18px 0 0 50px;}
  .gnb__depth02.show {display: block;}
  .gnb__a02 {display:block; padding:3px;}
  .gnb__a02:hover {color:#0051af}

  .gnb__depth01:hover .gnb__depth02 {display:block;}  

  .btn-sitemap {margin-left:32px;}

}

/* pc & 태블릿 */
@media screen and (min-width: 769px) {
  /* skip-nav */
  .skip-nav a { display: block; position: absolute; left: 0; top: -9999em; z-index: 9999; width: 100%; height: 30px; line-height: 30px; text-align:center; background-color: rgba(0,0,0,.8); color: #fff; }
  .skip-nav a:active, 
  .skip-nav a:focus { top: 0; }

  /* header */
  .header-mobile {display:none;}

  .header-pc {position:fixed; top:0; z-index: 15; width:100%; padding:0 20px; box-sizing: border-box; background-color: #fff;}
  .header__inner {display:flex; align-items: center; justify-content: space-between; height:66px; margin:0 auto; box-sizing: border-box;} 
  .header__logo {width:100px; height:35px;}
  
  .header--gnbNone {border-bottom:1px solid #ccc;}
  .header--gnbNone .header__inner {align-items: center; padding-top:0;}
  .header__msg {margin-left:30px; font-size:16px;}
  

  /* sitemap */
  .sitemap {display:none; position: fixed; z-index: 20; top:0; width:100%; padding:20px 0; border:1px solid #999; background-color: #fff;}
  .sitemap.show {display:block;}
  .sitemap__inner {max-width:980px; margin:0 auto;}
  .sitemap__list {display:flex;}
  .sitemap__list > * {flex:1; margin:0 10px;}
  .sitemap__depth01 {display:block; margin-bottom:10px; padding:5px 10px; text-align: center; font-weight: bold; color:#000; background-color: #eee;}
  .sitemap__depth02 {display:inline-block; padding:5px 10px;}
  .btn-sitemap-close {position:absolute; top:10px; right:20px; width:24px; height:24px; background: url(../images/icon-close.png) no-repeat 0 0 / 100% 100%;}

  /* sub visual */
  .sub-visual {position: relative; max-width:1600px; margin:122px auto 0; padding:64px 0 65px 111px; border-radius: 32px 0px;}
  .sub-visual__h2 {position: relative; font-size: 48px; font-weight: bold; color: #fff;}
  .sub-visual__desc {position: relative; width:475px; margin-top:15px; font-size: 16px; line-height: 24px; font-weight: 500; color: #fff;}
  .sub-visual--sub1 {background-color:#2e3372;}
  .sub-visual--sub1::before {content: ""; position: absolute; top:77px; right:111px; display:block;  width:498px; height:269px; background:url(../images/sub-visual-1.png) no-repeat 0 0 / 100% auto;}

  /* bread-crumb */
  .bread-crumb {width:100%; margin-bottom:61px; background-color: #fff;}
  .bread-crumb__inner {display:flex; align-items: center; max-width:1600px; margin: 0 auto;}
  .bread-crumb__inner > li {position: relative; border: 1px solid #ccc;}
  .bread-crumb__inner > li + li {border-left:0;}
  .down-menu {display:none; position:absolute; width:100%; padding:15px 0; border:1px solid #ccc; background-color: #fff;}
  .down-menu a {display:block; padding:0 15px; line-height:24px;}
  .btn-downMenu {display:flex; align-items: center; justify-content: space-between; width:198px; height:49px; padding:0 15px;}
  .btn-downMenu::after {content: ""; display:inline-block; width:10px; height:7px; background: url('../images/select-combo.svg') no-repeat 0 0 / 10px 7px;}
  .btn-downMenu.open::after {transform: rotate(180deg);}
  .btn-downMenu.open + .down-menu {display:block}
  .btn-home {display:block; width:53px; height:49px; background: url('../images/icon-home.svg') no-repeat center center / 17px 15px;}
  

  /* 상단 타이틀 */
  .content-head {margin-bottom:40px;}
  .content-head__inner {display:flex; align-items: center; justify-content: space-between; max-width:1600px; margin:0 auto; }
  
  /* sticky header */
  .container--sticky .bread-crumb {position: fixed; z-index: 6; top:66px; width:100%; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background-color: #fff;} 
  .container--sticky .bread-crumb__inner > li {border-top:0; border-bottom:0;}
  .container--sticky .content-head {position:fixed; z-index:5; top:116px; width:100%; padding:15px 0; border-bottom: 1px solid #ccc;  background-color: #fff;}
  .container--sticky .content-head__inner {margin-top:0; border-bottom:0;}

   /* footer */
  .footer {padding:40px 0 40px; border-top:1px solid rgba(0,0,0,0.4)}
  .footer__inner {position:relative; max-width:1600px; margin: 0 auto;}
  .footer__logo img {width:auto; height:50px;}

  .site-address {margin-top:40px; font-size:16px; line-height: 26px; color: #171717;}
  .footer__familySite {position: absolute; right:0; margin-top:40px;}
  .footer__familySite select {width: 274px; height: 50px; padding:0 24px;  border: 1px solid #ccc; color: #000; font-size: 16px; appearance:none; background: url('../images/family-combo.svg') no-repeat top 50% right 24px / 15px 8px;}

  .fnb {position: absolute; top:8px; right:0}
  .fnb__wrap {display:flex; align-items: center;}
  .fnb__wrap > li + li::before {content: ""; display:inline-block; width:1px; height:16px; margin:0 10px; vertical-align: middle;; background-color: #171717;}
  .fnb__link {font-weight: bold; font-size: 16px; line-height: 26px; color: #171717;}

  .copyright {margin-top:24px; font-size:12px; line-height: 22px; color: #171717;}
}


/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .gnb {display:none}

  /* .bread-crumb__inner,
  .content-head__inner,
   .footer__inner {padding-left:20px; padding-right:20px;} */

  .sub-visual {padding-left:45px;}
  .sub-visual--sub1::before {right:0px; transform: scale(0.8);}

  .fnb {right:20px;}
  .footer__familySite {margin-top:0;}
  
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .skip-nav,
  .header-pc,
  .bread-crumb {display:none;}

  .header-mobile {position:absolute; top:0; width:100%;}
  .header__inner {display:flex; align-items: center; justify-content: space-between; height:54px; padding:0 20px; border-bottom:1px solid #ccc;}
  .header-mobile__logo a {display:block;}
  .header-mobile__logo img {width:75px; height:auto; vertical-align: top;}
  .btn-page-prev {display:block; width:24px; height:24px; background-color: #999;}

  .down-menu {display:none; position: absolute; z-index: 10; top:55px; left:0; right:0; padding:10px 0; border-bottom:1px solid #ccc; text-align: center; background-color: #fff;}
  .down-menu a  {display:inline-block; padding:10px 0;}
  .btn-downMenu::after {content: "▼"; font-size:10px; padding-left:5px; }
  .btn-downMenu.open::after {content:"▲";}
  .btn-downMenu.open + .down-menu {display:block}

  .gnb {position:absolute; top:54px; overflow-x:auto; width:100%; padding: 10px 0; border-bottom:1px solid #eee;}
  .gnb::-webkit-scrollbar {display:none}
  .gnb__wrap {display:flex; align-items: center;  width:100%;  }
  .gnb__a01 {white-space: nowrap; padding:0 10px; font-weight: 600; color:#000;}

  .sitemap {display:none; position: absolute; top:0; left:0; bottom:0; right:0; background-color: #fff;}
  .sitemap.show {display:block;} 
  .btn-sitemap-close {position: absolute; right:20px; top:20px; width:24px; height:24px; background: url(../images/icon-close.png) no-repeat 0 0 / 100% 100%;}

  /* sub visual */
  .sub-visual {display:none; position: relative; margin:122px auto 77px; padding:30px 20px 80px 20px; border-radius: 32px 0px;}
  .sub-visual__h2 {position: relative; font-size: 30px; font-weight: bold; color: #fff;}
  .sub-visual__desc {position: relative;  margin-top:15px; font-size: 14px; line-height: 20px; font-weight: 500; color: #fff; word-break: keep-all;}
  .sub-visual--sub1 {background-color:#2e3372;}
  .sub-visual--sub1::before {content: ""; position: absolute; top:125px; right:20px; display:block;  width:240px; height:128px; background:url(../images/sub-visual-1.png) no-repeat 0 0 / 240px auto;}

  .container {padding-top:89px;}
  .content-head {padding:30px 0 0;}
  .content-head__inner {padding:0 15px;}
  .content-head__right {margin-top:15px; text-align: right;}

  .section-cont {padding:15px 20px}

  /* footer */
  .footer {padding:18px 15px 24px; border-top:1px solid rgba(0,0,0,0.4)}
  .footer__inner {position:relative;}
  .footer__logo img {width:165px; height:auto;}

  .site-address {margin-top:15px; font-size:14px; line-height:18px; color:#000; font-size:12px}
  .footer__row {display:flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
  .footer__familySite select {width: 150px; height: 30px; padding:0 12px;  border: 1px solid #ccc; color: #000; font-size: 16px; appearance:none; background: url('../images/family-combo.svg') no-repeat top 50% right 12px / 15px 8px;}

  .fnb {margin-bottom:15px;}
  .fnb__wrap {display:flex; align-items: center; flex-wrap: wrap;}
  .fnb__wrap > li {margin-top:4px; margin-right:4px; padding-right:4px; border-right:1px solid #999; line-height: 12px;}
  .fnb__wrap > li:last-child {border-right:0;}
  .fnb__link {font-size:12px; font-weight: 600; color:#000;}

  .copyright {margin-top:15px; color:#999; font-size:11px;}
}