@charset "utf-8";

.darkBg {background-color: #1f2b41;}

#fp-nav-new > ul > li:nth-child(8) {display:none !important;}

#fp-nav-new {
  position: fixed;
  z-index: 15;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0,-50%,0)
}

#fp-nav-new .num {color: rgba(0,0,0,0.3);}
#fp-nav-new a {display:block; width: 37px; height: 22px; line-height: 22px; border-radius: 0px 0px 8px 0px; padding-left:16px;}
#fp-nav-new a.active {background-color: #000;}
#fp-nav-new a.active .num {color:#fff; font-weight: bold;}

/* PC */
@media screen and (min-width: 601px) {
  html, body, div {line-height: normal;}

  .pc-show {display:block;}
  .mobile-show {display:none;}

  .img {max-width:1600px; margin: 110px auto 0; padding:0 80px;}

  .section-inner {overflow:hidden; text-align:center;}
  .main-cont h2 {margin-bottom:15px; color: #808080; text-align: center; font-size: 32px; font-weight: 500;}
  .main-cont__desc {color: #000; text-align: center; font-size: 54px; font-weight: bold; word-break: keep-all;}
  .main-cont__text {margin-top:24px; padding:0 20px; color: #808080; font-size: 24px; word-break: keep-all;}
  .main-cont h2.black {display:inline-block; padding:10px 30px; border-radius: 30px; color:#fff; font-size: 20px; background: #000;}
  
  .white * {color:#fff}
  .main-cont .white h2 {color:#fff;}

  #section4 {background: #1b263c url('../images/main-sec4-bg.png') no-repeat center bottom / auto 80%;}
  #section5 {background: #1b263c url('../images/main-sec5-bg.png') no-repeat center top / auto 80%;}
  
  .main-sec0-link {overflow:hidden; max-width:1366px; margin:110px auto 0; padding:0 20px}
  .main-sec0-link > ul {display:flex;}
  .main-sec0-link  li {position:relative; flex:0 0 334px;}
  .main-sec0-link  li + li {margin-left:10px}
  .main-sec0-link .link-box {position:absolute; top:40px; left:0; display:block; padding:0 40px; color:#fff;}
  .main-sec0-link .link-box__title {display: block; margin-bottom:20px; font-weight: bold; font-size: 36px;}
  .main-sec0-link .link-box__desc {word-break: keep-all; line-height: 24px; text-align: center;}


  .main-sec1 {display:flex; max-width:1378px; margin:40px auto 0; padding:0 50px 10px; box-sizing: content-box;}
  .main-sec1__desc {text-align: right; align-self: flex-end;}
  .main-sec1__descPaging {margin-bottom:12px; font-size:24px;}
  .main-sec1__desc h3 {margin-bottom:40px; font-size: 33px; font-weight: 900; line-height:1.3; color: #000;}
  .main-sec1__desc .text {display:inline-block; width:100%; max-width:317px; line-height: 1.3; font-size:24px; color: #999; word-break: keep-all;}
  .main-sec1__descList > li {display:none;}
  .main-sec1__descList > li.on {display:block;}

  .main-sec1__list {width:364px; align-self: flex-end;}
  .main-sec1__listWrap > li {position: relative; padding:24px 0; border-bottom: 1px solid #e6e6e6;}
  .main-sec1__btn {display:flex; align-items: baseline; width:100%; height:100%; text-align: left; font-size:24px; color: #999;}
  .main-sec1__btn > em {display:inline-block;width:43px;}
  .main-sec1__btn > span {display:inline-block; line-height: 27px;}
  .main-sec1__img {flex:0 0 536px; width:536px; height:651px; margin:0 80px; background: url('../images/main-pc-sec1-img1.png') no-repeat center / contain;}
  .main-sec1__listWrap > li.on .main-sec1__btn {font-weight: bold; color:#000}
  .main-sec1__listWrap > li.on::after {content: ""; position:absolute; right:0; bottom:-1px; display:block; width:483px; height:3px; background-color: #000;}

  /* sec3 */
  .main-sec3-img {max-width:1200px; height:auto}

  
  /* sec4 */
  .main-sec4 {position:relative; max-width:1483px; height:385px; margin:120px auto 0;}
  .main-sec4__cont {position: absolute; display:inline-flex; padding:16px 40px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 32.5px; background-color: rgba(255, 255, 255, 0.15);}
  .main-sec4__cont dt {padding-left:30px; font-size:28px; background: url('../images/main-sec4-icon.svg') no-repeat left center / 19px 23px;}
  .main-sec4__cont dd {font-size:24px;}
  .main-sec4__cont dd > strong {font-size: 30px;}
  .main-sec4__total {position:absolute; top:0; left:50%; display: flex; flex-direction: column; justify-content: center; width:385px; height:385px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 100%; text-align: center; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.15);}
  .main-sec4__total dt {margin-bottom:14px; font-size: 32px; font-weight: bold;}
  .main-sec4__total dd {font-size: 32px;}
  .main-sec4__total dd > strong{font-size: 48px;}

  .main-sec4__cont.cont--1 {left:150px; top:30px;}
  .main-sec4__cont.cont--2 {right:100px; top:30px;}
  .main-sec4__cont.cont--3 {left:0; top:50%; transform: translateY(-50%);}
  .main-sec4__cont.cont--4 {right:0; top:50%; transform: translateY(-50%);}
  .main-sec4__cont.cont--5 {left:40px; bottom:30px;}
  .main-sec4__cont.cont--6 {right:30px; bottom:30px;}

  /* sec5 */
  .main-sec5 {margin-top:80px;}
  .main-sec5__list {display:flex; justify-content: center;}
  .main-sec5__cont {position:relative; overflow:hidden; width:200px; height:400px; background-color: #000;}
  .main-sec5__cont + .main-sec5__cont {margin-left:60px;} 
  .main-sec5__cont:nth-child(even) {margin-top:60px;}
  .main-sec5__img {width:100%; height:100%;}
  .main-sec5__desc {position:absolute; bottom:0; left:0; right:0; padding:24px; text-align: left; background-color: rgba(0,0,0,0.65);}
  .main-sec5__desc dt {margin-bottom:8px; font-size: 24px; font-weight: bold; color:#fff}
  .main-sec5__desc dd {height:40px; line-height: 1.3; word-break: keep-all;}

  /* sec6 */
  .sec6-col {display:flex; justify-content: space-between; max-width:1600px; margin:80px auto 0; padding:0 50px; }
  .sec6-cont {position:relative; overflow:hidden; flex:1; min-height:370px; border-radius: 16px; padding:40px;}
  .sec6-cont + .sec6-cont {margin-left:80px;}
  .sec6-cont:nth-child(1) {background-color: #4485f5;}
  .sec6-cont:nth-child(2) {background-color: #ffc639;}
  .sec6-cont:nth-child(3) {background-color: #424890;}
  .sec6-cont__textArea dt {margin-bottom:16px; font-size: 40px; font-weight: bold; color:#fff; text-align: center; word-break: keep-all; line-height: 1.3;}
  .sec6-cont__textArea dd {font-size:24px; font-weight: 500; text-align: center; word-break: keep-all; color:#fff; line-height: 1.3;}

  [class^="sec6-icon"] {display:inline-block; height:150px; width:150px; margin-bottom:8px;}
  .sec6-icon1 {background: url('../images/main-mo-sec6-icon1.png') no-repeat center center / contain;}
  .sec6-icon2 {background: url('../images/main-mo-sec6-icon2.png') no-repeat center center / contain;}
  .sec6-icon3 {background: url('../images/main-mo-sec6-icon3.png') no-repeat center center / contain;}

}

@media screen and (min-width: 601px) and (max-width: 1279px) {
  .main-cont__desc {width:80%; margin:0 auto; font-size:36px}
  .main-cont__desc br {display:none}
  
  .section.sec1 .pc-show {display:none;}
  .section.sec1 .mobile-show {display:block}

  .section.sec1 .mobile-show .img {max-width:800px;}

  .sec-dl {max-width:800px; margin:24px auto 0; padding:0 80px; text-align: left;}
  .sec-dl dt {font-size: 24px; font-weight: bold;}
  .sec-dl dd {margin-top:8px; color:#999; font-size: 18px; line-height: 22px;}
  .mobileMain-sec1-sw {position: relative; max-width: 800px;}
  .mobileMain-sec1-sw-pagination {position: absolute; top:-60px; bottom:unset; right:100px; left:unset;  display: inline-block; width:48px; height:16px; line-height: 16px; padding:0 8px; border-radius: 8px; color:#999; background-color: #fff;}
  .mobileMain-sec1-sw-pagination .swiper-pagination-current {font-weight: bold; color:#000;}

  /* sec2 */
  .section.sec2 .img {position: relative; padding:0; width:115%;}

  /* sec4 */
  .section.sec4 .pc-show {display:none;}
  .section.sec4 .mobile-show {display:block}

  .scroll-col {overflow-x:auto; display:flex; margin-top:40px; padding:0 16px;}
  .scroll-col::-webkit-scrollbar {display: none;}

  .main-mo-sec4 {position:relative; max-width: 510px; height:383px; margin:58px auto 0;}
  .main-mo-sec4__cont {position: absolute; display:flex; flex-direction: column; justify-content: center; align-items: center; width:120px; height:120px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 100%; background-color: rgba(255, 255, 255, 0.15);}
  .main-mo-sec4__cont dt {margin:-10px 0 8px; padding-top:20px; font-size:11px; background: url('../images/main-sec4-icon.svg') no-repeat center top / 12px 15px;}
  .main-mo-sec4__total {position:absolute; top:50%; left:50%; display: flex; flex-direction: column; justify-content: center; width:155px; height:155px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 100%; text-align: center; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.15);}
  .main-mo-sec4__total dt {margin-bottom:14px; font-size: 16px; font-weight: bold;}
  .main-mo-sec4__total dd {font-size: 22px;}
  .main-mo-sec4__total dd > strong{font-size: 22px;}

  .main-mo-sec4__cont.cont--1 {left:65px; top:0;}
  .main-mo-sec4__cont.cont--2 {right:65px; top:0;}
  .main-mo-sec4__cont.cont--3 {left:0; top:50%; transform: translateY(-50%);}
  .main-mo-sec4__cont.cont--4 {right:0; top:50%; transform: translateY(-50%);}
  .main-mo-sec4__cont.cont--5 {left:65px; bottom:0;}
  .main-mo-sec4__cont.cont--6 {right:65px; bottom:0;}

  .sec6-cont + .sec6-cont {margin-left:20px;} 
  .sec6-cont__textArea dt {font-size: 30px;}
  .sec6-cont__textArea dd {font-size:16px;}
}

/* 모바일 */
@media screen and (max-width: 600px) {
  .main-sec1-link {padding:0 20px}
  .mobile-show {display:block; text-align: center; overflow: hidden;}
  .pc-show {display:none;}

  .white * {color:#fff}


  .main-cont h2  {font-size: 24px; color: #000; text-align: center;}
  .main-cont__desc { margin-bottom:24px; padding:0 18px; line-height: 34px; font-size: 24px; font-weight: bold; color: #000; text-align: center; word-break: keep-all; }
  .white .main-cont__desc {color:#fff;}
  .main-cont h2.black {display:inline-block; padding:5px 16px; margin-bottom:20px; border-radius: 30px; color:#fff; font-size: 12px; background: #000; }
  .main-cont h2.white {display:inline-block; padding:5px 16px; margin-bottom:16px; border-radius: 30px; color:#000; font-size: 12px; background: #fff;}
  .main-cont .img {padding:0 16px;}

  /* sec0 */
  .mobileMain-sec1-link {padding:0 16px;}
  .mobileMain-sec1-link > ul {align-items: flex-end;}
  .mobileMain-sec1-link .swiper-slide {display: flex; flex-direction: column; justify-content: space-between; height:100%;}
  .mobileMain-sec1-link .swiper-slide img {max-width:500px; margin:0 auto;}
  .link-box {display:block; margin-bottom:28px;}
  .link-box__title {display:block; font-size: 24px; color: #000; text-align: center; font-weight: bold;}
  .link-box__desc {display:block; width:300px; margin:12px auto 0; line-height: 24px; color: #000; text-align: center; word-break: keep-all; }
  .mobileMain-sec1-pagination {position:absolute; z-index: 10; left:27px; bottom:35px; color:#fff; text-align: left; font-size:10px;}

  /* sec1 */
  .sec-dl {overflow: hidden; margin-top:24px; padding:0 16px; text-align: left;}
  .sec-dl dt {font-size: 16px; font-weight: bold;}
  .sec-dl dd {margin-top:8px; color:#999; font-size: 16px; line-height: 22px;}
  .mobileMain-sec1-sw {position: relative;}
  .mobileMain-sec1-sw-pagination {position: absolute; top:-30px; bottom:unset; right:40px; left:unset;  display: inline-block; width:48px; height:16px; line-height: 16px; padding:0 8px; border-radius: 8px; color:#999; background-color: #fff;}
  .mobileMain-sec1-sw-pagination .swiper-pagination-current {font-weight: bold; color:#000;}

  /* sec4 */
  .section.sec4 {background: #1f2b41 url('../images/main-mo-sec5-bg.png') no-repeat center center / 100% 100%;}

  .scroll-col {overflow-x:auto; display:flex; margin-top:40px; padding:0 16px;}
  .scroll-col::-webkit-scrollbar {display: none;}

  .main-mo-sec4 {position:relative; max-width: 360px; height:343px; margin:58px auto 0;}
  .main-mo-sec4__cont {position: absolute; display:flex; flex-direction: column; justify-content: center; align-items: center; width:94px; height:94px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 100%; background-color: rgba(255, 255, 255, 0.15);}
  .main-mo-sec4__cont dt {margin:-10px 0 8px; padding-top:20px; font-size:11px; background: url('../images/main-sec4-icon.svg') no-repeat center top / 12px 15px;}
  .main-mo-sec4__total {position:absolute; top:50%; left:50%; display: flex; flex-direction: column; justify-content: center; width:155px; height:155px; border: 1.5px solid rgba(255, 255, 255, 0.2); border-radius: 100%; text-align: center; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.15);}
  .main-mo-sec4__total dt {margin-bottom:14px; font-size: 16px; font-weight: bold;}
  .main-mo-sec4__total dd {font-size: 22px;}
  .main-mo-sec4__total dd > strong{font-size: 22px;}

  .main-mo-sec4__cont.cont--1 {left:65px; top:0;}
  .main-mo-sec4__cont.cont--2 {right:65px; top:0;}
  .main-mo-sec4__cont.cont--3 {left:0; top:50%; transform: translateY(-50%);}
  .main-mo-sec4__cont.cont--4 {right:0; top:50%; transform: translateY(-50%);}
  .main-mo-sec4__cont.cont--5 {left:65px; bottom:0;}
  .main-mo-sec4__cont.cont--6 {right:65px; bottom:0;}

  /* sec5 */
  .sec5-cont {position:relative; overflow:hidden; flex:0 0 auto; width:240px; height:228px; border-radius: 24px 0px;}
  .sec5-cont:nth-child(1) {background: url('../images/main-mo-sec5-img1.jpg') no-repeat center center / 403px 254px;} /* 1102 수정 */
  .sec5-cont:nth-child(2) {background: url('../images/main-mo-sec5-img2.jpg') no-repeat center center / auto 100%;} /* 1102 수정 */
  .sec5-cont:nth-child(3) {background: url('../images/main-mo-sec5-img3.jpg') no-repeat center center / auto 100%;} /* 1102 수정 */
  .sec5-cont__textArea {position:absolute; bottom:0; width:100%; padding:11px 16px; text-align: left; background: rgba(0,0,0,.8);}
  .sec5-cont__textArea dt {margin-bottom:7px; font-weight: bold;}
  .sec5-cont__textArea dd {height:40px; line-height: 24px; word-break: keep-all;}
  .sec5-cont + .sec5-cont {margin-left:24px;}

  .sec6-cont {position:relative; overflow:hidden; flex:0 0 auto; width:210px; border-radius: 16px; padding:20px 15px;}
  .sec6-cont + .sec6-cont {margin-left:16px;}
  .sec6-cont:nth-child(1) {background-color: #4485f5;}
  .sec6-cont:nth-child(2) {background-color: #ffc639;}
  .sec6-cont:nth-child(3) {background-color: #424890;}
  .sec6-cont__textArea dt {margin-bottom:8px; font-size: 19px; font-weight: bold; color:#fff; text-align: center;}
  .sec6-cont__textArea dd {font-weight: 500; text-align: center; word-break: keep-all; color:#fff; line-height: 20px;}

  [class^="sec6-icon"] {display:inline-block; height:71px; width:83px; margin-bottom:8px;}
  .sec6-icon1 {background: url('../images/main-mo-sec6-icon1.png') no-repeat center center / contain;}
  .sec6-icon2 {background: url('../images/main-mo-sec6-icon2.png') no-repeat center center / contain;}
  .sec6-icon3 {background: url('../images/main-mo-sec6-icon3.png') no-repeat center center / contain;}
}

.ani {
  opacity: 0;
}
.aniPlay .ani {
  animation: view 0.5s ease-out forwards;
}

.aniPlay .delay-1 {
  animation-delay: 0.4s;
}
.aniPlay .delay-2 {
  animation-delay: 0.8s;
}
.aniPlay .delay-3 {
  animation-delay: 1s;
}
.aniPlay .delay-4 {
  animation-delay: 1.2s;
}
.aniPlay .delay-5 {
  animation-delay: 1.4s;
}
.aniPlay .delay-6 {
  animation-delay: 1.6s;
}
.aniPlay .delay-7 {
  animation-delay: 1.8s;
}
.aniPlay .delay-8 {
  animation-delay: 1.6s;
}
.aniPlay .delay-9 {
  animation-delay: 1.8s;
}
.aniPlay .delay-10 {
  animation-delay: 1.8s;
}

@keyframes view {
  from {opacity: 0; transform: translateY(80px);}
  to {opacity: 1; transform: translateY(0);}
}
